{% extends 'base.html.twig' %}

{# Permet de rendre la récuperation des données plus pratique #}
{% set dataThisAnime = dataOneAnime.data.Media %}

{% block meta_description %}{{ dataThisAnime.description ? dataThisAnime.description|raw|nl2br : dataThisAnime.title.romaji }}{% endblock %}

{% block title %}{{ dataThisAnime.title.romaji ? dataThisAnime.title.romaji : "?" }}{% endblock %}

{% block body %}
    <main class="animeContainer">
        <div class="animeTopContainer">
            <div class="animeTopLeftContent">
                <figure>
                    <img src="{{ dataThisAnime.coverImage.large }}" alt="Cover Image of {{ dataThisAnime.title.romaji|default('Unknown') }}" class="animeImage">
                </figure>
                {% if app.user and not animeIsInList %}
                    <a href="{{ path('add_anime_to_list_user', { idApi: dataThisAnime.id }) }}" class="animeButtonAddTo list">Add to your list</a>
                {% endif %}
                {% if app.user and not animeIsInFavorites %}
                    <a href="{{ path('add_anime_to_favorites_user', { idApi : dataThisAnime.id }) }}" class="animeButtonAddTo favorites">Add to your favorites</a>
                {% elseif app.user and animeIsInFavorites and animeInDatabase %}
                    <a href="{{ path('remove_anime_from_favorites_user', { id : animeInDatabase.id }) }}" class="animeButtonAddTo favorites">Remove from favorites</a>
                {% endif %}
            </div>
            <div class="animeTopRightContent">
                <h1 class="animeTitle">{{ dataThisAnime.title.romaji|default('Unknown') }}</h1>
                <h2 class="animeSynopsisTitle"><i>Synopsis</i></h2>
                <p class="animeSynopsisContent">{{ dataThisAnime.description ? dataThisAnime.description|raw|nl2br : '<i>No synopsis yet</i>' }}</p>
            </div>
        </div>
        <div class="animeRemainingContainer">
            <div class="animeRemainingLeftContent">
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Format</i></h2>
                    <p class="animeRemainingLeftContentInfoContent">{{ dataThisAnime.format ? dataThisAnime.format|title|replace({'_' : ' '}) : '<i>TBA</i>' }}</p>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Status</i></h2>
                    <p class="animeRemainingLeftContentInfoContent">{{ dataThisAnime.status ? dataThisAnime.status|title|replace({'_' : ' '}) }}</p>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle">{{ dataThisAnime.startDate == dataThisAnime.endDate ? '<i>Airing Date</i>' : '<i>Airing Dates</i>' }}</h2>
                    <div class="animeRemainingLeftContentInfoContentContainer">
                    {# Différentes vérifications par rapport aux dates d'un animé, on est obligés de vérifier l'année, le mois et le jour pour adapter l'affichage #}
                    {# Cas pas de date de début et de fin #}
                    {% if dataThisAnime.startDate.year == null and dataThisAnime.startDate.month == null and dataThisAnime.startDate.day == null and dataThisAnime.endDate.year == null and dataThisAnime.endDate.month == null and dataThisAnime.endDate.day == null %}
                        <p class="animeRemainingLeftContentInfoContent">TBA</p>
                    {# Cas date de début = date de fin (pour les films par exemple) #}
                    {% elseif dataThisAnime.startDate.year == dataThisAnime.endDate.year and dataThisAnime.startDate.month == dataThisAnime.endDate.month and dataThisAnime.startDate.day == dataThisAnime.endDate.day %}
                        <p class="animeRemainingLeftContentInfoContent">
                            {{ dataThisAnime.startDate.month ? (dataThisAnime.startDate.month < 10 ? '0' : '' ) ~ dataThisAnime.startDate.month ~ '/' : '' }}{{ dataThisAnime.startDate.day ? (dataThisAnime.startDate.day < 10 ? '0' : '') ~ dataThisAnime.startDate.day ~ '/' : '' }}{{ dataThisAnime.startDate.year ? dataThisAnime.startDate.year : '' }}
                        </p>
                    {% else %}
                    {# Sinon, il y a au moins une date donc on affiche la date de début et de fin #}
                        {# Cas où il n'y a pas de date de début #}
                        {% if dataThisAnime.startDate.day == null and dataThisAnime.startDate.month == null and dataThisAnime.startDate.year == null %}
                            <p class="animeRemainingLeftContentInfoContent"><i>TBA</i>&nbsp;</p>
                        {# Cas où il y a une date de début #}
                        {% else %}
                            <p class="animeRemainingLeftContentInfoContent">
                                {{ dataThisAnime.startDate.month ? (dataThisAnime.startDate.month < 10 ? '0' : '') ~ dataThisAnime.startDate.month ~ '/' : '' }}{{ dataThisAnime.startDate.day ? (dataThisAnime.startDate.day < 10 ? '0' : '') ~ dataThisAnime.startDate.day ~ '/' : '' }}{{ dataThisAnime.startDate.year ? dataThisAnime.startDate.year : '' }}&nbsp;
                            </p>
                        {% endif %}
                        {# Séparation des dates de début et de fin #}
                        <p class="animeRemainingLeftContentInfoContent">to&nbsp;</p>
                        {# Cas où il n'y a pas de date de fin #}
                        {% if dataThisAnime.endDate.day == null and dataThisAnime.endDate.month == null and dataThisAnime.endDate.year == null %}
                            <p class="animeRemainingLeftContentInfoContent"><i>TBA</i></p>
                        {# Cas où il y a une date de fin #}
                        {% else %}
                            <p class="animeRemainingLeftContentInfoContent">
                                {{ dataThisAnime.endDate.month ? (dataThisAnime.endDate.month < 10 ? '0' : '') ~ dataThisAnime.endDate.month ~ '/' : '' }}{{ dataThisAnime.endDate.day ? (dataThisAnime.endDate.day < 10 ? '0' : '') ~ dataThisAnime.endDate.day ~ '/' : '' }}{{ dataThisAnime.endDate.year ? dataThisAnime.endDate.year : '' }}
                            </p>
                        {% endif %}
                    {% endif %}
                    </div>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Season</i></h2>
                    {% if dataThisAnime.season and dataThisAnime.seasonYear %}
                        <p class="animeRemainingLeftContentInfoContent season">{{ dataThisAnime.season|title }} {{ dataThisAnime.seasonYear }}</p>
                    {% else %}
                        <p class="animeRemainingLeftContentInfoContent"><i>TBA</i></p>
                    {% endif %}
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Episodes</i></h2>
                    <p class="animeRemainingLeftContentInfoContent">{{ dataThisAnime.episodes ? dataThisAnime.episodes : '<i>TBA</i>' }}</p>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Episode Duration</i></h2>
                    {# On effectue la conversion de minutes en heures si nécessaires et adaptations de l'affichage en fonction de cela #}
                    {% if dataThisAnime.duration %}
                        {% set duration = dataThisAnime.duration %}
                        {% if duration >= 60 %}
                            {% set hours = duration // 60 %}
                            {% set minutes = duration % 60 %}
                            {% set hoursText = hours > 1 ? 'hours' : 'hour' %}
                            {% set minText = minutes > 1 ? 'mins' : 'min' %}
                            <p class="animeRemainingLeftContentInfoContent">{{ hours }} {{ hoursText }} {{ minutes }} {{ minText }}</p>
                        {% else %}
                            <p class="animeRemainingLeftContentInfoContent">{{ duration > 1 ? duration ~ ' mins' : duration ~ ' min' }}</p>
                        {% endif %}
                    {% else %}
                        <p class="animeRemainingLeftContentInfoContent"><i>TBA</i></p>
                    {% endif %}
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Source</i></h2>
                    {# Si il y a une source, on affiche de telle manière à ce que les underscores soient replacés par un espace et que chaque mot ait une majuscule au début ce celui-ci #}
                    <p class="animeRemainingLeftContentInfoContent">{{ dataThisAnime.source ? dataThisAnime.source|title|replace({'_' : ' '}) : '<i>TBA</i>' }}</p>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Genres</i></h2>
                    <div class="animeRemainingLeftContentInfoContentContainer">
                    {% if dataThisAnime.genres %}
                        {% for genre in dataThisAnime.genres %}
                            <p class="animeRemainingLeftContentInfoContent">{{ genre|capitalize }}&nbsp;</p>
                        {% endfor %}
                    {% else %}
                    <p class="animeRemainingLeftContentInfoContent"><i>None</i></p>
                    {% endif %}
                    </div>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Studio</i></h2>
                    <div class="animeRemainingLeftContentInfoContentContainer">
                        {# Un animé a souvent 1 seul studio d'animation, mais il peut en avoir plusieurs, donc on prends cela en compte pour les mettre dans un tableau #}
                        {% if dataThisAnime.studios %}
                            {# On crée un tableau pour stocker les studios principaux #}
                            {% set mainStudios = [] %}
                            {% for studio in dataThisAnime.studios.edges %}
                                {# Si le studio est principal #}
                                {% if studio.isMain %}
                                    {# On le fusionne avec le tableau #}
                                    {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                {% endif %}
                            {% endfor %}
                            {# On affiche les studios principaux #}
                            {% for mainStudio in mainStudios %}
                                <p class="animeRemainingLeftContentInfoContent">{{ mainStudio }}&nbsp;</p>
                            {% endfor %}
                        {% else %}
                            <p class="animeRemainingLeftContentInfoContent"><i>TBA</i></p>
                        {% endif %}
                    </div>
                </section>
                <section class="animeRemainingLeftContentInfo">
                    <h2 class="animeRemainingLeftContentInfoTitle"><i>Producers</i></h2>
                    <div class="animeRemainingLeftContentInfoContentContainer">
                        {# Les studios qui ne sont pas principaux sont des producteurs #}
                        {% if dataThisAnime.studios %}
                            {# On crée un tableau pour stocker les studios producteurs #}
                            {% set producers = [] %}
                            {% for studio in dataThisAnime.studios.edges %}
                                {# Si le studio n'est pas principal #}
                                {% if studio.isMain == false %}
                                    {# On le fusionne avec le tableau #}
                                    {% set producers = producers|merge([studio.node.name]) %}
                                {% endif %}
                            {% endfor %}
                            {% for producer in producers %}
                                <p class="animeRemainingLeftContentInfoContent">{{ producer|capitalize }}&nbsp;</p>
                            {% endfor %}
                        {% else %}
                            <p class="animeRemainingLeftContentInfoContent"><i>TBA</i></p>
                        {% endif %}
                    </div>
                </section>
            </div>
            <div class="animeRemainingRightContent">
            {# Si il y a un prochain episode prévu, on affiche le temps qu'il manque avant celui-ci #}
            {% if dataThisAnime.nextAiringEpisode %}
                {% set episodeNumber = dataThisAnime.nextAiringEpisode.episode %}
                {% set airingAt = dataThisAnime.nextAiringEpisode.airingAt %}
                {% set totalSeconds = dataThisAnime.nextAiringEpisode.timeUntilAiring %}

                {# Calcul des jours, heures et minutes avant le prochain épisode #}
                {% set days = totalSeconds // 86400 %}
                {% set hours = (totalSeconds % 86400) // 3600 %}
                {% set minutes = ((totalSeconds % 86400) % 3600) // 60 %}

                {# Adapation de l'affichage de chaque données en fonction de celles-ci #}
                {# Pour le numéro du prochain épsiode #}
                {% set episodeText = episodeNumber ? ' (episode ' ~ episodeNumber ~ ') ' : ' ' %}

                {# Pour les jours manquant #}
                {% set daysText = days > 1 ? days ~ ' days ' : days ~ ' day ' %}

                {# Pour les heures manquantes #}
                {% set hoursText = hours > 1 ? hours ~ ' hours ' : hours ~ ' hour ' %}

                {# Pour les minutes manquantes #}
                {% set minText = minutes > 1 ? minutes ~ ' mins' : minutes ~ ' min' %}

                {# On récupère la date et l'heure de sortie de l'épisode #}
                {% set UTCDate = airingAt|date('D, d M Y,  H:i', 'UTC') %}
                <h2 class="animeRemainingRightContentTimeBeforeEpisode" title="{{ UTCDate ~ ' (UTC)' }}">
                    <i>Time before next episode{{ episodeText }}: {{ days >= 1 ? daysText : '' }}{{ hours >= 1 ? hoursText : "" }}{{ minutes >= 1 ? minText : "" }}</i>
                </h2>
            {% endif %}
            {% if dataThisAnime.characters.edges %}
                <div class="animeRemainingRightContentPartTitleContainer">
                    <h2 class="animeRemainingRightContentPartTitle">Characters</h2>
                    <a href="{{ path('characters_anime', { 'id' : dataThisAnime.id }) }}" class="animeRemainingRightContentPartMore">View more</a>
                </div>
                <div class="animeRemainingRightContentPartCardsContainer">
                {% for character in dataThisAnime.characters.edges|slice(0, 8) %}
                    <a href="{{ path('show_character', { 'id' : character.node.id }) }}" class="animeRemainingRightContentPartCardsContent">
                        <figure>
                            <img src="{{ character.node.image.medium }}" alt="{{ character.node.name.full|default('Image of the character') }}" class="animeRemainingRightContentPartCardsImage">
                        </figure>
                        <div class="animeRemainingRightContentPartCardsTextContainer">
                            <h3 class="animeRemainingRightContentPartCardsTop">{{ character.node.name.full|default('Unknown') }}</h3>
                            <p class="animeRemainingRightContentPartCardsBottom"><i>{{ character.role ? character.role|title : 'Unknown' }}</i></p>
                        </div>
                    </a>
                {% endfor %}
                </div>
            {% endif %}
            {% if dataThisAnime.staff.edges %}
                <div class="animeRemainingRightContentPartTitleContainer">
                    <h2 class="animeRemainingRightContentPartTitle">Staff</h2>
                    <a href="{{ path('staff_anime', { 'id' : dataThisAnime.id }) }}" class="animeRemainingRightContentPartMore">View more</a>
                </div>
                <div class="animeRemainingRightContentPartCardsContainer">
                {% for staff in dataThisAnime.staff.edges|slice(0, 8) %}
                    <a href="{{ path('show_staff', { 'id' : staff.node.id }) }}" class="animeRemainingRightContentPartCardsContent">
                        <figure>
                            <img src="{{ staff.node.image.medium }}" alt="{{ staff.node.name.full|default('Image of the staff member') }}" class="animeRemainingRightContentPartCardsImage">
                        </figure>
                        <div class="animeRemainingRightContentPartCardsTextContainer">
                            <h3 class="animeRemainingRightContentPartCardsTop">{{ staff.node.name.full|default('Unknown') }}</h3>
                            <p class="animeRemainingRightContentPartCardsBottom"><i>{{ staff.role|default('Unknown') }}</i></p>
                        </div>
                    </a>
                {% endfor %}
                </div>
            {% endif %}
            {# Rajouter une condition quand les talks seront fait #}
                {# <div class="animeRemainingRightContentPartTitleContainer">
                    <h2 class="animeRemainingRightContentPartTitle">Talks</h2>
                    <a href="#" class="animeRemainingRightContentPartMore">View more</a>
                </div>
                <div class="animeRemainingRightContentPartCardsContainer talk anime">
                {% for i in range(1, 5) %}
                    <section class="animeRemainingRightContentPartCardsContent talk">
                        <div class="animeRemainingRightContentPartCardsTextContainer">
                            <h3 class="animeRemainingRightContentPartCardsTop anime">(Spoiler Alert !) Episode 5 Talk</h3>
                            <p class="animeRemainingRightContentPartCardsBottom"><i>Created 12 days ago</i></p>
                        </div>
                        <div class="animeRemainingRightContentPartCardsCommentContainer">
                            <p class="animeRemainingRightContentPartCardsCommentText"><span class="animeRemainingRightContentPartCardsCommentTextIcon"><i class="fa-solid fa-comments"></i></span> <span class="animeRemainingRightContentPartCardsCommentTextNumber">42</span></p>
                        </div>
                    </section>
                {% endfor %}
                </div> #}
                {# <h2 class="animeRemainingRightContentPartTitle">Give your opinion about this anime !</h2>
                <div class="animeRemainingRightContentPartYourOpinionContainer">
                    <textarea name="opinion" id="opinion" placeholder="Write your comment here !" class="animeRemainingRightContentPartYourOpinionInput"></textarea>
                    <input type="submit" value="Publish your opinion" class="animeRemainingRightContentPartYourOpinionSubmit">
                </div> #}
                {# <h2 class="animeRemainingRightContentPartTitle">Here's what people think about it !</h2>
                <p class="animeRemainingRightContentPartOpinionsFilter">Filter by : <span class="animeRemainingRightContentPartOpinionsFilterOption">Date</span> - <span class="animeRemainingRightContentPartOpinionsFilterOption">Likes</span></p>
                <div class="animeRemainingRightContentPartOpinionsContainer">
                {% for i in range(1, 5) %}
                    <div class="animeRemainingRightContentPartOpinionsContent">
                        <div class="animeRemainingRightContentPartOpinionsTopContent">
                            <img src="{{ asset('uploads/baseUser.png') }}" alt="User 'user' profile picture" class="animeRemainingRightContentPartOpinionsProfilePicture">
                            <h2 class="animeRemainingRightContentPartOpinionsPseudo">Username</h2>
                            <p class="animeRemainingRightContentPartOpinionsPublicationTime">5 days ago</p>
                        </div>
                        <p class="animeRemainingRightContentPartOpinionsMidContent">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus porttitor nisl, quis maximus ipsum egestas eu. Proin at molestie tortor. Ut vel diam lobortis, eleifend erat eu, tristique justo. Suspendisse rhoncus ante at nibh sodales, condimentum varius felis rhoncus. Morbi viverra aliquam lectus, sollicitudin tincidunt nisl commodo ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus porttitor nisl, quis maximus ipsum egestas eu. Proin at molestie tortor.
                        </p>
                        <p class="animeRemainingRightContentPartOpinionsBottomContent"><i class="fa-solid fa-heart"></i> <span class="animeRemainingRightContentPartOpinionsLikesNumber" >42</span></p>
                    </div>
                {% endfor %}
                </div> #}
            </div>
        </div>
    </main>
{% endblock %}
