{% extends 'base.html.twig' %}

{% macro textTimeAgo(date) %}
    {# Calcul de l'écart entre la date et maintenant (grâce au temps unix) #}
    {% set now = 'now'|date("U") %}
    {% set dateTime = date|date("U") %}
    {% set timeDifference = now - dateTime %}
    {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
    {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
    {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
    {# On crée un texte en fonction du temps manquant #}
    {% if years > 0 %}
        {{ years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' }}
    {% elseif months > 0 %}
        {{ months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' }}
    {% elseif weeks > 0 %}
        {{ weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' }}
    {% elseif days > 0 %}
        {{ days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' }}
    {% elseif hours > 0 %}
        {{ hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' }}
    {% elseif minutes > 0 %}
        {{ minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' }}
    {% else %}
        {{ 'just now' }}
    {% endif %}
{% endmacro %}

{% block meta_description %}Find out what people think about {{ animeTitle|default('Unknown') }}{% endblock %}

{% block title %}{{ discussion.title }} {{ animeTitle|default('Unknown') }}{% endblock %}

{% block body %}
    <main class="talkContainer">
        <h1 class="title talks">{{ discussion.title }} <a href="{{ path('show_anime', { 'id': animeId }) }}">{{ animeTitle|default('Unknown') }}</a></h1>
        {% if userPost %}
            <h2 class="animeRemainingRightContentPartTitle">Your opinion about it!</h2>
            <div class="animeRemainingRightContentPartOpinionsContainer">
                <div class="onePostContainer">
                    <div class="onePostTopContainer">
                        <figure class="oneTalkUserContainer">
                            {% if userPost.user %}
                                <img src="{{ userPost.user.profilePicture ? asset('uploads/' ~ userPost.user.profilePicture) : asset('uploads/baseUser.png') }}" alt="User {{ userPost.user.username }} profile picture" class="oneTalkUserImage">
                            {% else %}
                                <img src="{{ asset('uploads/baseUser.png') }}" alt="Deleted user profile picture" class="oneTalkUserImage">
                            {% endif %}
                            <figcaption class="oneTalkUsername post">
                                {% if userPost.user %}
                                    <a href="{{ path('show_user', { id: userPost.user.id }) }}">{{ userPost.user.username }}</a>
                                {% else %}
                                    <p>Deleted user</p>
                                {% endif %}
                            </figcaption>
                        </figure>
                        {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la création du post et maintenant #}
                        {% set textPublication = _self.textTimeAgo(userPost.creationDate) %}
                        <div class="oneTalkTopRightContainer">
                            <p class="oneTalkUserTime post" title="{{ userPost.creationDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textPublication }}</i></p>
                            <div class="oneTalkTopRightBottomLine">
                                {# Si le post appartient à l'utilisateur et n'est pas verrouillé, il pourra le modifier #}
                                {% if userPost.user == app.user and not discussion.locked and userPost.user %}
                                    <a href="{{ path('edit_post', { discussion_id: discussion.id, id: userPost.id, redirect: 'all_opinions' }) }}" class="settingsChangePseudo" title="Edit this post"><i class="fa-solid fa-pen-to-square"></i></a>            
                                {% endif %}
                                {# Si le post appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, le peut être supprimer #}
                                {% if (userPost.user == app.user and not discussion.locked) or is_granted('ROLE_ADMIN') %}
                                    {% if app.user %}
                                        <a href="{{ path('delete_post', { discussion_id: discussion.id, id: userPost.id, redirect: 'all_opinions' }) }}" class="talkDeleteLink" title="Delete this post"><i class="fa-solid fa-trash-can"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p class="animeRemainingRightContentPartOpinionsMidContent">{{ userPost.content }}</p>
                    <div class="onePostBottomContainer">
                    {% if userPost.creationDate != userPost.lastModifiedDate %}
                        {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la dernière modification du post et maintenant #}
                        {% set textModified = _self.textTimeAgo(userPost.lastModifiedDate) %}
                        <p class="oneTalkUserTime post bottom" title="{{ userPost.lastModifiedDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Modified {{ textModified }}</i></p>
                    {% endif %}
                    {% if userPost.user %}
                        {% if app.user %}
                            {# Si le post est liké par l'utilisateur #}
                            {% if userPost.users.contains(app.user) %}
                                <a href="{{ path('unlike_post', { discussion_id: discussion.id, id: userPost.id, redirect: 'all_opinions' }) }}" class="onePostLikes" title="Unlike this post"><i class="fa-solid fa-heart"></i> <span class="onePostLikesNumber">{{ userPost.users|length }}</span></a>
                            {% else %}
                                <a href="{{ path('like_post', { discussion_id: discussion.id, id: userPost.id, redirect: 'all_opinions' }) }}" class="onePostLikes" title="Like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ userPost.users|length }}</span></a>
                            {% endif %}
                        {% else %}
                            <p class="onePostLikes" title="Log in to like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ userPost.users|length }}</span></p>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="oneTalkRepliesTopContainer">
            {% set opinionsNumber = discussion.posts|length %}
            <p class="oneTalkRepliesNumber">
                {{ opinionsNumber }} {{ opinionsNumber > 1 ? 'Opinions' : 'Opinion' }}
                {% if not userPost %}
                    <a href={{ path('post_about_anime', { id: animeId, redirect: 'all_opinions' }) }} class="profileInfosButton addPost">Post</a>
                {% endif %}
            </p>
            <p class="oneTalkFilterText">
                <span class="oneTalkFilterTextBefore">Filter by :</span>
                <a href="#" class="animeRemainingRightContentPartMore filter-link" data-filter="date">Date</a> - 
                <a href="#" class="animeRemainingRightContentPartMore filter-link" data-filter="like">Likes</a>
            </p>
        </div>
        <div id="posts-container">
            {% for post in discussion.posts %}
            <div class="onePostContainer" data-likes="{{ post.users|length }}" data-date="{{ post.creationDate|date('U') }}">
                <div class="onePostTopContainer">
                    <figure class="oneTalkUserContainer">
                        {% if post.user %}
                            <img src="{{ post.user.profilePicture ? asset('uploads/' ~ post.user.profilePicture) : asset('uploads/baseUser.png') }}" alt="User {{ post.user.username }} profile picture" class="oneTalkUserImage">
                        {% else %}
                            <img src="{{ asset('uploads/baseUser.png') }}" alt="Deleted user profile picture" class="oneTalkUserImage">
                        {% endif %}
                        <figcaption class="oneTalkUsername post">
                            {% if post.user %}
                                <a href="{{ path('show_user', { id: post.user.id }) }}">{{ post.user.username }}</a>
                            {% else %}
                                <p>Deleted user</p>
                            {% endif %}
                        </figcaption>
                    </figure>
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la création du post et maintenant #}
                    {% set textPublication = _self.textTimeAgo(post.creationDate) %}
                    <div class="oneTalkTopRightContainer">
                        <p class="oneTalkUserTime post" title="{{ post.creationDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textPublication }}</i></p>
                        <div class="oneTalkTopRightBottomLine">
                            {# Si le post appartient à l'utilisateur et n'est pas verrouillé, il pourra le modifier #}
                            {% if post.user == app.user and not discussion.locked and post.user %}
                                <a href="{{ path('edit_post', { discussion_id: discussion.id, id: post.id, redirect: 'all_opinions' }) }}" class="settingsChangePseudo" title="Edit this post"><i class="fa-solid fa-pen-to-square"></i></a>            
                            {% endif %}
                            {# Si le post appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, il peut être supprimer #}
                            {% if (post.user == app.user and not discussion.locked) or is_granted('ROLE_ADMIN') %}
                                {% if app.user %}
                                    <a href="{{ path('delete_post', { discussion_id: discussion.id, id: post.id, redirect: 'all_opinions' }) }}" class="talkDeleteLink" title="Delete this post"><i class="fa-solid fa-trash-can"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p class="animeRemainingRightContentPartOpinionsMidContent">{{ post.content }}</p>
                <div class="onePostBottomContainer">
                {% if post.creationDate != post.lastModifiedDate %}
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la dernière modification du post et maintenant #}
                    {% set textModified = _self.textTimeAgo(post.lastModifiedDate) %}
                    <p class="oneTalkUserTime post bottom" title="{{ post.lastModifiedDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Modified {{ textModified }}</i></p>
                {% endif %}
                {% if post.user %}
                    {% if app.user %}
                        {# Si le post est liké par l'utilisateur #}
                        {% if post.users.contains(app.user) %}
                            <a href="{{ path('unlike_post', { discussion_id: discussion.id, id: post.id, redirect: 'all_opinions' }) }}" class="onePostLikes" title="Unlike this post"><i class="fa-solid fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                        {% else %}
                            <a href="{{ path('like_post', { discussion_id: discussion.id, id: post.id, redirect: 'all_opinions' }) }}" class="onePostLikes" title="Like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                        {% endif %}
                    {% else %}
                        <p class="onePostLikes" title="Log in to like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></p>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            // Fonction pour trier les posts
            function sortPosts(filter, order){
                // Récupération du conteneur des posts d'une discussion
                const container = document.getElementById('posts-container');
                // Récupération des posts sous forme de tableau
                const posts = Array.from(container.getElementsByClassName('onePostContainer'));
        
                // Tri des posts en fonction de la valeur du filtre choisi
                posts.sort((a, b) => {
                    let aValue, bValue;
                    if(filter === 'date'){
                        aValue = parseInt(a.getAttribute('data-date'));
                        bValue = parseInt(b.getAttribute('data-date'));
                    } 
                    else if(filter === 'like'){
                        aValue = parseInt(a.getAttribute('data-likes'));
                        bValue = parseInt(b.getAttribute('data-likes'));
                    }
        
                    return (order === 'asc') ? aValue - bValue : bValue - aValue;
                });
        
                // Reconstruction du conteneur des posts avec les posts trié
                container.innerHTML = '';
                posts.forEach(post => container.appendChild(post));
            }
        
            // Ordre de base
            let order = 'asc';

            // Ajout d'un écouteur d'événements sur les liens de filtrage
            document.querySelectorAll('.filter-link').forEach(link => {
                link.addEventListener('click', function(event){
                    // Empechement du comportement par défaut
                    event.preventDefault();
                    // Récupération du filtre et de l'ordre
                    const filter = link.getAttribute('data-filter');
                    // Tri des posts
                    sortPosts(filter, order);
        
                    // Inversion de l'ordre pour le prochain clic
                    order = (order === 'asc') ? 'desc' : 'asc';
                });
            });
        });
    </script>
{% endblock %}