{% extends 'base.html.twig' %}

{% macro textTimeAgo(date) %}
    {# Calcul de l'écart entre la date et maintenant (grâce au temps unix) #}
    {% set now = 'now'|date("U") %}
    {% set dateTime = date|date("U") %}
    {% set timeDifference = now - dateTime %}
    {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
    {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
    {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
    {# On crée un texte en fonction du temps manquant #}
    {% if years > 0 %}
        {{ years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' }}
    {% elseif months > 0 %}
        {{ months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' }}
    {% elseif weeks > 0 %}
        {{ weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' }}
    {% elseif days > 0 %}
        {{ days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' }}
    {% elseif hours > 0 %}
        {{ hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' }}
    {% elseif minutes > 0 %}
        {{ minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' }}
    {% else %}
        {{ 'just now' }}
    {% endif %}
{% endmacro %}

{% block meta_description %}Find out what people think about {{ animeTitle|default('Unknown') }}{% endblock %}

{% block title %}{{ discussion.title }} {{ animeTitle|default('Unknown') }}{% endblock %}

{% block body %}
    <main class="talkContainer">
        <h1 class="title talks">{{ discussion.title }} <a href="{{ path('show_anime', { 'id': animeId }) }}">{{ animeTitle|default('Unknown') }}</a></h1>
        <div class="oneTalkRepliesTopContainer">
            {% set opinionsNumber = discussion.posts|length %}
            <p class="oneTalkRepliesNumber">
                {{ opinionsNumber }} {{ opinionsNumber > 1 ? 'Opinions' : 'Opinion' }}
                {# Si l'utilisateur est connecté et la discussion n'est pas verrouiller, l'utilisateur peut créer une discussion #}
                {# {% if app.user and not discussion.locked %}
                    <a href="{{ path('add_post', { id: discussion.id }) }}" class="profileInfosButton addPost" title="Reply to this discussion">Reply</a>
                {% endif %} #}
            </p>
            <p class="oneTalkFilterText">
                <span class="oneTalkFilterTextBefore">Filter by :</span>
                <a class="animeRemainingRightContentPartMore filter-link">Date</a> - 
                <a class="animeRemainingRightContentPartMore filter-link">Likes</a>
            </p>
        </div>
        <div id="posts-container">
            {% for post in discussion.posts %}
            <div class="onePostContainer">
                <div class="onePostTopContainer">
                    <figure class="oneTalkUserContainer">
                        {% if post.user %}
                            <img src="{{ post.user.profilePicture ? asset('uploads/' ~ post.user.profilePicture) : asset('uploads/baseUser.png') }}" alt="User {{ post.user.username }} profile picture" class="oneTalkUserImage">
                        {% else %}
                            <img src="{{ asset('uploads/baseUser.png') }}" alt="Deleted user profile picture" class="oneTalkUserImage">
                        {% endif %}
                        <figcaption class="oneTalkUsername post">
                            {% if post.user %}
                                <a href="{{ path('show_user', { id: post.user.id }) }}">{{ post.user.username }}</a>
                            {% else %}
                                <p>Deleted user</p>
                            {% endif %}
                        </figcaption>
                    </figure>
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la création du post et maintenant #}
                    {% set textPublication = _self.textTimeAgo(post.creationDate) %}
                    <div class="oneTalkTopRightContainer">
                        <p class="oneTalkUserTime post" title="{{ post.creationDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textPublication }}</i></p>
                        <div class="oneTalkTopRightBottomLine">
                            {# Si le post appartient à l'utilisateur et n'est pas verrouillé, il pourra le modifier #}
                            {% if post.user == app.user and not discussion.locked and post.user %}
                                <a href="{{ path('edit_post', { discussion_id: discussion.id, id: post.id }) }}" class="settingsChangePseudo" title="Edit this post"><i class="fa-solid fa-pen-to-square"></i></a>            
                            {% endif %}
                            {# Si le post appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, il peut être supprimer #}
                            {% if (post.user == app.user and not discussion.locked) or is_granted('ROLE_ADMIN') %}
                                {% if app.user %}
                                    <a href="{{ path('delete_post', { discussion_id: discussion.id, id: post.id }) }}" class="talkDeleteLink" title="Delete this post"><i class="fa-solid fa-trash-can"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p class="animeRemainingRightContentPartOpinionsMidContent">{{ post.content }}</p>
                <div class="onePostBottomContainer">
                {% if post.creationDate != post.lastModifiedDate %}
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la dernière modification du post et maintenant #}
                    {% set textModified = _self.textTimeAgo(post.lastModifiedDate) %}
                    <p class="oneTalkUserTime post bottom" title="{{ post.lastModifiedDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Modified {{ textModified }}</i></p>
                {% endif %}
                {% if post.user %}
                    {% if app.user %}
                        {# Si le post est liké par l'utilisateur #}
                        {% if post.users.contains(app.user) %}
                            <a href="{{ path('unlike_post', { discussion_id: discussion.id, id: post.id }) }}" class="onePostLikes" title="Unlike this post"><i class="fa-solid fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                        {% else %}
                            <a href="{{ path('like_post', { discussion_id: discussion.id, id: post.id }) }}" class="onePostLikes" title="Like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                        {% endif %}
                    {% else %}
                        <p class="onePostLikes" title="Log in to like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></p>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}