{% extends 'base.html.twig' %}

{# Permet de rendre la récuperation des données plus pratique #}
{% set dataAllStaffThisAnime = dataAllStaffOneAnime.data.Media %}

{% block meta_description %}Discover all the staff members of {{ dataAllStaffThisAnime.title.romaji }}{% endblock %}

{% block title %}Staff of {{ dataAllStaffThisAnime.title.romaji|default('?') }}{% endblock %}

{% block body %}
    <main class="animeCharactersContainer">
        <h1 class="animeCharactersTitle">Staff of {{ dataAllStaffThisAnime.title.romaji|default('?') }}</h1>
        <div class="animeRemainingRightContentPartCardsContainer">
        {% for staffMember in dataAllStaffThisAnime.staff.edges %}
            <a href="{{ path('show_staff', { 'id' : staffMember.node.id }) }}" class="animeRemainingRightContentPartCardsContent" title="{{ staffMember.node.name.full|default('Unknown') }}">
                <figure>
                    <img src="{{ staffMember.node.image.medium }}" alt="{{ staffMember.node.name.full|default('Unknown') }}" class="animeRemainingRightContentPartCardsImage">
                </figure>
                <div class="animeRemainingRightContentPartCardsTextContainer">
                    <h2 class="animeRemainingRightContentPartCardsTop">{{ staffMember.node.name.full|default('Unknown') }}</h2>
                    <p class="animeRemainingRightContentPartCardsBottom"><i>{{ staffMember.role|default('Unknown') }}</i></p>
                </div>
            </a>
        {% endfor %}
        </div>
    </main>
{% endblock %}