{% extends 'base.html.twig' %}

{# Permet de rendre la récuperation des données plus pratique #}
{% set dataAllStaffThisAnime = dataAllStaffOneAnime.data.Media %}

{% block title %}Staff of {{ dataAllStaffThisAnime.title.romaji ? dataAllStaffThisAnime.title.romaji : "?" }}{% endblock %}

{% block body %}
    <main class="animeCharactersContainer">
        <h1 class="animeCharactersTitle">Staff of {{ dataAllStaffThisAnime.title.romaji ? dataAllStaffThisAnime.title.romaji : "?" }}</h1>
        <div class="animeRemainingRightContentPartCardsContainer">
            {% for staffMember in dataAllStaffThisAnime.staff.edges %}
                <section class="animeRemainingRightContentPartCardsContent">
                    <figure>
                        <img src="{{ staffMember.node.image.medium }}" alt="{{ staffMember.node.name.full ? staffMember.node.name.full : "Unknown" }}" class="animeRemainingRightContentPartCardsImage">
                    </figure>
                    <div class="animeRemainingRightContentPartCardsTextContainer">
                        <h2 class="animeRemainingRightContentPartCardsTop">{{ staffMember.node.name.full ? staffMember.node.name.full : "Unknown" }}</h2>
                        <p class="animeRemainingRightContentPartCardsBottom"><i>{{ staffMember.role ? staffMember.role : "Unknown" }}</i></p>
                    </div>
                </section>
            {% endfor %}
        </div>
    </main>
{% endblock %}