{% extends 'base.html.twig' %}

{% block meta_description %}Explore our top animes catalog and look how the best animes look like!{% endblock %}

{% block title %}Top Animes{% endblock %}

{% block body %}
    <main class="homeContainer">
        <h1 class="title">TOP ANIME</h1>
        <div class="homeMultipleAnimes autoFill">
        {% for media in dataTopAnimes.data.Page.media %}
            <figure class="homeOneAnime top">
                <a href="{{ path('show_anime', { 'id' : media.id }) }}" title="{{ media.title.romaji|default('Unknown') }}">
                    <div class="homeOneAnimeImageInfo">
                        {% if loop.index + ((dataTopAnimes.data.Page.pageInfo.currentPage - 1) * 50) < 1000 %}
                            <div class="homeOneAnimeTopRanking">{{ loop.index + ((dataTopAnimes.data.Page.pageInfo.currentPage - 1) * 50) }}</div>
                        {% endif %}
                        <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                        <section class="homeHoverContent">
                            <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                            {% if media.episodes %}
                                <p class="homeOneAnimeInfoSmallerInfos"><i>{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</i></p>
                            {% else %}    
                                <p class="homeOneAnimeInfoSmallerInfos"><i>? episodes - {{ media.format|default('?') }}</i></p>
                            {% endif %}
                            {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                            {% set mainStudios = [] %}
                            {% for studio in media.studios.edges %}
                                {% if studio.isMain %}
                                    {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                {% endif %}
                            {% endfor %}
                            <p class="homeOneAnimeInfoSmallerInfos"><i>{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</i></p>
                            <div class="homeOneAnimeInfoGenres">
                            {% for genre in media.genres %}
                                <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                            {% endfor %}
                            </div>
                        </section>
                    </div>
                </a>
                <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
            </figure>
        {% endfor %}
        </div>
        <div class="paginationButtons">
            {% if dataTopAnimes.data.Page.pageInfo.currentPage > 1 %}
                <a class="paginationOneButtonExtreme" href="{{ path('top_anime', { 'page': dataTopAnimes.data.Page.pageInfo.currentPage - 1 }) }}">&lt;</a>
            {% else %}
                <div class="paginationOneButtonExtremeDisabled">
                    <a class="paginationOneButtonExtreme disabled">&lt;</a>
                </div>
            {% endif %}
            <p class="paginationOneNumber">{{ dataTopAnimes.data.Page.pageInfo.currentPage }}</p>
            {% if dataTopAnimes.data.Page.pageInfo.hasNextPage %}
                <a class="paginationOneButtonExtreme" href="{{ path('top_anime', { 'page': dataTopAnimes.data.Page.pageInfo.currentPage + 1 }) }}">&gt;</a>
            {% else %}
                <div class="paginationOneButtonExtremeDisabled">
                    <a class="paginationOneButtonExtreme disabled">&gt;</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}