{% extends 'base.html.twig' %}

{% block title %}Top Animes{% endblock %}

{% block body %}
    <main class="homeContainer">
        <h1 class="title">TOP ANIME</h1>
        <div class="homeMultipleAnimes autoFill">
            {% for media in dataTopAnimes.data.Page.media %}
                <figure class="homeOneAnime top">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}">
                        <div class="homeOneAnimeImageInfo">
                            <div class="homeOneAnimeTopRanking">{{ loop.index }}</div>
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji }}</h2>
                                <p class="homeOneAnimeInfoSmallerInfos">
                                    {% if media.episodes %}
                                        {% if media.episodes < 2 %}
                                            {{ media.episodes }} episode
                                        {% else %}
                                            {{ media.episodes }} episodes
                                        {% endif %}
                                    {% else %}    
                                        ? episodes
                                    {% endif %}
                                    - 
                                    {% if media.format %}
                                        {{ media.format }}
                                    {% else %}
                                        ?
                                    {% endif %}
                                </p>
                                <p class="homeOneAnimeInfoSmallerInfos">
                                    {% set mainStudios = [] %}
                                    {% for studio in media.studios.edges %}
                                        {% if studio.isMain %}
                                            {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ mainStudios|join(' - ') }}
                                </p>
                                <div class="homeOneAnimeInfoGenres">
                                    {% for genre in media.genres %}
                                        <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                    {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji }}</a></figcaption>
                </figure>
            {% endfor %}
        </div>
    </main>
{% endblock %}