{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="securityFormContainer">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
    
            <h1 class="securityFormTitle">Log in</h1>
            <div class="securityFormRow">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="securityFormRow">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
    
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
    
            <button type="submit" class="securityFormSubmitButton">LOG IN</button>
            <div class="securityFormLinksEnd">
                <a href="#" class="securityFormLinkEnd">Forgot password ?</a>
                <a href="{{ path('app_register') }}" class="securityFormLinkEnd">No account ? Register here !</a>
            </div>
        </form>
    </div>
{% endblock %}
