{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="title">Welcome {{ app.user.pseudo }} ! Explore our anime catalog !</h1>
    {% else %}
        <h1 class="title">Discover anime !</h1>
    {% endif %}
    <main class="homeContainer">
        <p>Explore the world of <strong>anime</strong>! Browse our extensive <strong>anime catalog</strong>, stay up-to-date with your <strong>anime calendar</strong>, and <strong>engage in discussions</strong> about your favorite series!</p>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle">BEST THIS SEASON</h2>
                <a href="{{ path('seasonal_anime') }}" class="animeRemainingRightContentPartMore">View more</a>
            </div>
            <div class="homeMultipleAnimes">
            {% for media in dataBestAnimeThisSeason.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos">{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos">? episodes - {{ media.format|default('?') }}</p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos">{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle">NEXT SEASON</h2>
                <a href="#" class="animeRemainingRightContentPartMore">View more</a>
            </div>
            <div class="homeMultipleAnimes">
            {% for media in dataNextSeasonAnime.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos">{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos">? episodes - {{ media.format|default('?') }}</p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos">{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle">POPULAR</h2>
                <a href="#" class="animeRemainingRightContentPartMore">View more</a>
            </div>
            <div class="homeMultipleAnimes">
            {% for media in dataPopularAnime.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos">{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos">? episodes - {{ media.format|default('?') }}</p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos">{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle">TOP 10</h2>
                <a href="{{ path('top_anime') }}" class="animeRemainingRightContentPartMore">View more</a>
            </div>
            <div class="homeMultipleAnimes autoFill">
            {% for media in dataTopTenAnime.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}">
                        <div class="homeOneAnimeImageInfo">
                            <div class="homeOneAnimeTopRanking">{{ loop.index }}</div>
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos">{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos">? episodes - {{ media.format|default('?') }}</p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos">{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}