{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="title {{ app.user and app.user.darkMode ? 'dark' }}">Welcome {{ app.user.username }} ! Explore our anime catalog !</h1>
    {% else %}
        <h1 class="title {{ app.user and app.user.darkMode ? 'dark' }}">Discover anime !</h1>
    {% endif %}
    <main class="homeContainer">
        <p class="simpleText {{ app.user and app.user.darkMode ? 'dark' }}">Explore the world of <strong>anime</strong>! Browse our extensive <strong>anime catalog</strong>, stay up-to-date with your <strong>anime calendar</strong>, and <strong>engage in discussions</strong> about your favorite series!</p>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle {{ app.user and app.user.darkMode ? 'dark' }}">BEST THIS SEASON</h2>
                <a href="{{ path('seasonal_anime') }}" class="animeRemainingRightContentPartMore {{ app.user and app.user.darkMode ? 'dark' }}" title="View more">View more</a>
            </div>
            <div class="homeMultipleAnimes">
            {% for media in dataBestAnimeThisSeason.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}" title="{{ media.title.romaji|default('Unknown') }}">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent {{ app.user and app.user.darkMode ? 'dark' }}">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</i></p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>? episodes - {{ media.format|default('?') }}</i></p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos"><i>{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</i></p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle {{ app.user and app.user.darkMode ? 'dark' }}"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle {{ app.user and app.user.darkMode ? 'dark' }}">NEXT SEASON</h2>
                <a href="#" title="View more" class="animeRemainingRightContentPartMore {{ app.user and app.user.darkMode ? 'dark' }}">View more</a>
            </div>
            <div class="homeMultipleAnimes">
            {% for media in dataNextSeasonAnime.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}" title="{{ media.title.romaji|default('Unknown') }}">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent {{ app.user and app.user.darkMode ? 'dark' }}">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</i></p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>? episodes - {{ media.format|default('?') }}</i></p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos"><i>{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</i></p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle {{ app.user and app.user.darkMode ? 'dark' }}"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle {{ app.user and app.user.darkMode ? 'dark' }}">POPULAR</h2>
                <a href="#" class="animeRemainingRightContentPartMore {{ app.user and app.user.darkMode ? 'dark' }}" title="View more">View more</a>
            </div>
            <div class="homeMultipleAnimes">
            {% for media in dataPopularAnime.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}" title="{{ media.title.romaji|default('Unknown') }}">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent {{ app.user and app.user.darkMode ? 'dark' }}">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</i></p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>? episodes - {{ media.format|default('?') }}</i></p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos"><i>{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</i></p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle {{ app.user and app.user.darkMode ? 'dark' }}"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section>
            <div class="animeRemainingRightContentPartTitleContainer">
                <h2 class="homeSecondaryTitle {{ app.user and app.user.darkMode ? 'dark' }}">TOP 10</h2>
                <a href="{{ path('top_anime') }}" class="animeRemainingRightContentPartMore {{ app.user and app.user.darkMode ? 'dark' }}" title="View more">View more</a>
            </div>
            <div class="homeMultipleAnimes autoFill">
            {% for media in dataTopTenAnime.data.Page.media %}
                <figure class="homeOneAnime">
                    <a href="{{ path('show_anime', { 'id' : media.id }) }}" title="{{ media.title.romaji|default('Unknown') }}">
                        <div class="homeOneAnimeImageInfo">
                            <div class="homeOneAnimeTopRanking {{ app.user and app.user.darkMode ? 'dark' }}">{{ loop.index }}</div>
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji|default('Unknown') }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent {{ app.user and app.user.darkMode ? 'dark' }}">
                                <h2 class="homeOneAnimeInfoTitle">{{ media.title.romaji|default('Unknown') }}</h2>
                                {% if media.episodes %}
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>{{ media.episodes == 1 ? media.episodes ~ ' episode' : media.episodes ~ ' episodes' }} - {{ media.format|default('?') }}</i></p>
                                {% else %}    
                                    <p class="homeOneAnimeInfoSmallerInfos"><i>? episodes - {{ media.format|default('?') }}</i></p>
                                {% endif %}
                                {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                {% set mainStudios = [] %}
                                {% for studio in media.studios.edges %}
                                    {% if studio.isMain %}
                                        {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                    {% endif %}
                                {% endfor %}
                                <p class="homeOneAnimeInfoSmallerInfos"><i>{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</i></p>
                                <div class="homeOneAnimeInfoGenres">
                                {% for genre in media.genres %}
                                    <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color ? media.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                {% endfor %}
                                </div>
                            </section>
                        </div>
                    </a>
                    <figcaption class="homeOneAnimeTitle {{ app.user and app.user.darkMode ? 'dark' }}"><a href="{{ path('show_anime', { 'id' : media.id }) }}">{{ media.title.romaji|default('Unknown') }}</a></figcaption>
                </figure>
            {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}