{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="homeTitle">Welcome Back "user"</h1>
    <main class="homeContainer">
        <section>
            <h2 class="homeSecondaryTitle">BEST THIS SEASON</h2>
            <section class="homeMultipleAnimes">
                {% for media in dataBestAnimeThisSeason.data.Page.media %}
                    <figure class="homeOneAnime">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <p class="homeOneAnimeInfoTitle">{{ media.title.romaji }}</p>
                                <p class="homeOneAnimeInfoSmallerInfos">{{ media.episodes }} episodes - {{ media.format }}</p>
                                <p class="homeOneAnimeInfoSmallerInfos">
                                    {% set mainStudios = [] %}
                                    {% for studio in media.studios.edges %}
                                        {% if studio.isMain %}
                                            {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ mainStudios|join(' - ') }}
                                </p>
                                <div class="homeOneAnimeInfoGenres">
                                    {% for genre in media.genres %}
                                        <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color }};">{{ genre }}</p>
                                    {% endfor %}
                                </div>
                            </section>
                        </div>
                        <figcaption class="homeOneAnimeTitle">{{ media.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            </section>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">NEXT SEASON</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">POPULAR</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">ADMIN SELECTION</h2>
        </section>
        <section>
            <h2 class="homeSecondaryTitle">TOP 10</h2>
        </section>
    </main>
{% endblock %}
