{% extends 'base.html.twig' %}

{# Permet de rendre la récuperation des données plus pratique #}
{% set dataThisCharacter = dataOneCharacter.data.Character %}

{% block title %}{{ dataThisCharacter.name.full ? dataThisCharacter.name.full : "?" }}{% endblock %}

{% block body %}
    <main class="characterContainer">
        <div class="characterTopContainer">
            <div class="characterTopContent">
                <div class="characterTopLeftContainer">
                    <figure>
                        <img src="{{ dataThisCharacter.image.large ? dataThisCharacter.image.large : dataThisCharacter.image.medium }}" alt="{{ dataThisCharacter.name.full ? dataThisCharacter.name.full : "Unknown" }}" class="characterTopContentImage">
                    </figure>
                    <button class="animeButtonAddTo favorites">Add to your favorites</button>
                </div>
                <div class="characterTopContentCenterContainer">
                    <h1 class="characterPartTitle">{{ dataThisCharacter.name.full ? dataThisCharacter.name.full : "?" }}</h1>
                    <p class="characterTopContentTraitText">Age : <span class="characterTopContentTraitApi">{{ dataThisCharacter.age ? dataThisCharacter.age : "?" }}</span></p>
                    <p class="characterTopContentTraitText">Gender : <span class="characterTopContentTraitApi">{{ dataThisCharacter.gender ? dataThisCharacter.gender : "?" }}</span></p>
                    {# Voir les différents contenu des description pour adapter l'affichage #}
                    <p class="characterTopContentRegularText">
                        {{ dataThisCharacter.description ? dataThisCharacter.description|replace({'__': '' })|raw|nl2br : "No description yet" }}
                    </p>
                </div>
            </div>
        </div>
        <div class="characterRemainingContainer">
            <h2 class="characterPartTitle">APPEARANCES</h2>
            <div class="characterMultipleAnimes">
                {% for anime in dataThisCharacter.media.nodes %}
                    <figure class="homeOneAnime">
                        <div class="homeOneAnimeImageInfo">
                            <img src="{{ anime.coverImage.large }}" alt="Cover Image of {{ anime.title.romaji ? anime.title.romaji : "Unknown" }}" class="homeOneAnimeImage">
                            <section class="homeHoverContent">
                                <div class="characterRemainingVoiceActorContainer">
                                    <img src="https://s4.anilist.co/file/anilistcdn/staff/large/n95513-up9ZDuocHgRs.png" alt="Yuuichi Nakamura" class="characterRemainingVoiceActorImage">
                                    <p class="characterRemainingVoiceActorName">Yuuichi Nakamura</p>
                                </div>
                            </section>
                        </div>
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji ? anime.title.romaji : "Unknown" }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}