{% extends 'base.html.twig' %}

{# Permet de rendre la récuperation des données plus pratique #}
{% set dataThisCharacter = dataOneCharacter.data.Character %}

{% block title %}{{ dataThisCharacter.name.full ? dataThisCharacter.name.full : "?" }}{% endblock %}

{% block body %}
    <main class="characterContainer">
        <div class="characterTopContainer">
            <div class="characterTopContent">
                <div class="characterTopLeftContainer">
                    <figure>
                        <img src="{{ dataThisCharacter.image.large }}" alt="{{ dataThisCharacter.name.full ? dataThisCharacter.name.full : "Unknown" }}" class="characterTopContentImage">
                    </figure>
                    {% if app.user and not characterIsInFavorites %}
                        <a href="{{ path('remove_anime_from_favorites_user', { idApi : dataThisCharacter.id }) }}" class="animeButtonAddTo favorites">Add to your favorites</a>
                    {% elseif app.user and characterIsInFavorites and characterInDatabase %}
                        <a href="#" class="animeButtonAddTo favorites">Remove from favorites</a>
                    {% endif %}
                </div>
                <div class="characterTopContentCenterContainer">
                    <h1 class="characterPartTitle">{{ dataThisCharacter.name.full ? dataThisCharacter.name.full : "?" }}</h1>
                    <p class="characterTopContentTraitText">Age : <span class="characterTopContentTraitApi">{{ dataThisCharacter.age ? dataThisCharacter.age : "?" }}</span></p>
                    <p class="characterTopContentTraitText">Gender : <span class="characterTopContentTraitApi">{{ dataThisCharacter.gender ? dataThisCharacter.gender : "?" }}</span></p>
                    {# Voir les différents contenu des description pour adapter l'affichage #}
                    <p class="characterTopContentRegularText">
                        {{ dataThisCharacter.description ? dataThisCharacter.description|raw|nl2br : "No description yet" }}
                    </p>
                </div>
            </div>
        </div>
        <div class="characterRemainingContainer">
            <h2 class="characterPartTitle">APPEARANCES</h2>
            <div class="characterMultipleAnimes">
                {% for anime in dataThisCharacter.media.edges %}
                    <figure class="homeOneAnime">
                        <a href="{{ path('show_anime', { 'id' : anime.node.id }) }}">
                            <div class="homeOneAnimeImageInfo">
                                <img src="{{ anime.node.coverImage.large }}" alt="Cover Image of {{ anime.node.title.romaji ? anime.node.title.romaji : "Unknown" }}" class="homeOneAnimeImage">
                                <section class="homeHoverContent">
                                    <div class="characterRemainingVoiceActorContainer">
                                        <img src="{{ anime.voiceActors[0].image.medium }}" alt="{{ anime.voiceActors[0].name.full }}" class="characterRemainingVoiceActorImage">
                                        <p class="characterRemainingVoiceActorName">{{ anime.voiceActors[0].name.full }}</p>
                                    </div>
                                </section>
                            </div>
                            <figcaption class="homeOneAnimeTitle">{{ anime.node.title.romaji ? anime.node.title.romaji : "Unknown" }}</figcaption>
                        </a>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}