{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}
    <div class="securityFormContainer">
        {{ form_start(registrationForm) }}
            <h1 class="securityFormTitle">Register</h1>
            <div class="securityFormRow">
                {{ form_label(registrationForm.username, 'Username*') }}
                {{ form_widget(registrationForm.username) }}
                {{ form_errors(registrationForm.username) }}
            </div>
            <div class="securityFormRow">
                {{ form_label(registrationForm.email, 'Email*') }}
                {{ form_widget(registrationForm.email) }}
            </div>
            <div class="securityFormRow">
                {{ form_label(registrationForm.profilePicture, 'Profile picture') }}
                {{ form_widget(registrationForm.profilePicture) }}
            </div>
            <div class="securityFormRow">
                {{ form_label(registrationForm.plainPassword.first, 'Password*') }}
                {{ form_widget(registrationForm.plainPassword.first) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
                <p class="securityFormLinkEnd"><i>Password must contain Uppercase, Lowercase, Number and a special character (12 - 40 characters)</i></p>
            </div>
            <div class="securityFormRow">
                {{ form_label(registrationForm.plainPassword.second, 'Confirm Password*') }}
                {{ form_widget(registrationForm.plainPassword.second) }}
            </div>
            <div class="securityFormRowTerms">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms, 'Agree Terms of Use') }}
            </div>
            <a href="{{ path('app_terms_of_use') }}" class="securityFormLinkEnd">Read Terms of Use</a>
            <button type="submit" class="securityFormSubmitButton" title="Register">REGISTER</button>
            <a href="{{ path('app_login') }}" class="securityFormLinkEnd">Already have an account ? Login here !</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
