{% extends 'base.html.twig' %}

{% block title %}
    {# On change le titre de la page en fonction de l'existence de la discussion #}
    {% if discussionExist %}
        Edit talk
    {% else %}
        Create a new talk
    {% endif %}
{% endblock %}

{% block body %}
    <main>
        <div class="securityFormContainer">
            {{ form_start(form) }}
            {# On change le titre de la page en fonction de l'existence de la discussion #}
            {% if discussionExist %}
                <h1 class="securityFormTitle">Edit talk</h1>
            {% else %}
                <h1 class="securityFormTitle">Create a new talk</h1>
            {% endif %}
                <div class="securityFormRow">
                    {{ form_label(form.title, 'Title*') }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.firstPost, 'Content*') }}
                    {{ form_widget(form.firstPost) }}
                </div>
            {% if discussionExist %}
                <button type="submit" class="securityFormSubmitButton large">Edit talk</button>
            {% else %}
                <button type="submit" class="securityFormSubmitButton large">Create talk</button>
            {% endif %}
            {% if not discussionExist %}
                <p class="securityFormLinkEnd"><i>
                    If you want to create a new talk about an anime, go to that anime page and create a new talk.
                </i></p>
            {% endif %}
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}