{% extends 'base.html.twig' %}

{% macro textTimeAgo(date) %}
    {# Calcul de l'écart entre la date et maintenant (grâce au temps unix) #}
    {% set now = 'now'|date("U") %}
    {% set dateTime = date|date("U") %}
    {% set timeDifference = now - dateTime %}
    {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
    {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
    {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
    {# On crée un texte en fonction du temps manquant #}
    {% if years > 0 %}
        {{ years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' }}
    {% elseif months > 0 %}
        {{ months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' }}
    {% elseif weeks > 0 %}
        {{ weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' }}
    {% elseif days > 0 %}
        {{ days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' }}
    {% elseif hours > 0 %}
        {{ hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' }}
    {% elseif minutes > 0 %}
        {{ minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' }}
    {% else %}
        {{ 'just now' }}
    {% endif %}
{% endmacro %}

{% block title %}Talks{% endblock %}

{% block body %}
    <main>
        <h1 class="title talks">All Talks</h1>
        {% if app.user %}
            <a href="{{ path('add_discussion') }}" class="profileInfosButton talks">Create Talk</a>
        {% endif %}
        {% for talk in talks %}
        <section>
            <a href="{{ path('show_discussion', { id: talk.id }) }}" class="oneTalkContainer">
                <div class="oneTalkPartContainer">
                    <h2 class="oneTalkTitle">{{ talk.titre }}</h2>
                    <figure class="oneTalkUserContainer">
                        <img src="{{ talk.user.imageProfil ? asset('uploads/' ~ talk.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="User {{ talk.user.pseudo }} profile picture" class="oneTalkUserImage">
                        <figcaption class="oneTalkUsername">{{ talk.user.pseudo }}</figcaption>
                    </figure>
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la création de la discussion et maintenant #}
                    {% set textCreation = _self.textTimeAgo(talk.dateCreation) %}
                    <p class="oneTalkUserTime" title="{{ talk.dateCreation|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textCreation }}</i></p>
                </div>
                <div class="oneTalkPartContainer">
                    <p class="oneTalkComments"><i class="fa-solid fa-comments"></i> {{ talk.posts|length }}</p>
                    {% set lastPost = talk.posts|last %}
                    <figure class="oneTalkUserContainer right">
                        <img src="{{ lastPost.user.imageProfil ? asset('uploads/' ~ lastPost.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="User {{ lastPost.user.pseudo }} profile picture" class="oneTalkUserImage small">
                        <figcaption class="oneTalkUsername small">{{ lastPost.user.pseudo }}</figcaption>
                    </figure>
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la publication du dernier post et maintenant #}
                    {% set textPublication = _self.textTimeAgo(lastPost.dateCreation) %}
                    <p class="oneTalkUserTime small" title="{{ lastPost.dateCreation|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Posted {{ textPublication }}</i></p>
                </div>
            </a>
        </section>
        {% endfor %}
    </main>
{% endblock %}
