{% extends 'base.html.twig' %}

{% macro textTimeAgo(date) %}
    {# Calcul de l'écart entre la date et maintenant (grâce au temps unix) #}
    {% set now = 'now'|date("U") %}
    {% set dateTime = date|date("U") %}
    {% set timeDifference = now - dateTime %}
    {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
    {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
    {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
    {# On crée un texte en fonction du temps manquant #}
    {% if years > 0 %}
        {{ years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' }}
    {% elseif months > 0 %}
        {{ months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' }}
    {% elseif weeks > 0 %}
        {{ weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' }}
    {% elseif days > 0 %}
        {{ days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' }}
    {% elseif hours > 0 %}
        {{ hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' }}
    {% elseif minutes > 0 %}
        {{ minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' }}
    {% else %}
        {{ 'just now' }}
    {% endif %}
{% endmacro %}

{% block title %}{{ talk.titre }}{% endblock %}

{% block body %}
    <main class="talkContainer">
        <h1 class="title talks">
            {{ talk.titre }}
            {# Si la discussion appartient à l'utilisateur et n'est pas verrouillé, il pourra la modifier #}
            {% if talk.user == app.user and not talk.estVerrouiller %}
                <a href="{{ path('edit_discussion', { id: talk.id }) }}" class="settingsChangePseudo" title="Edit this talk"><i class="fa-solid fa-pen-to-square"></i></a>            
            {% endif %}
            {# Si l'utilisateur est un admin et la discussion est verrouillé, il pourra déverrouiller celle-ci #}
            {# Si l'utilisateur est un admin et la discussion n'est pas verrouillé, il pourra verrouiller celle-ci #}
            {% if is_granted('ROLE_ADMIN') and talk.estVerrouiller %}
                <a href="{{ path('unlock_discussion', { id: talk.id }) }}" title="Unlock this talk" class="settingsChangePseudo"><i class="fa-solid fa-lock"></i></a>
            {% elseif is_granted('ROLE_ADMIN') and not talk.estVerrouiller %}
                <a href="{{ path('lock_discussion', { id: talk.id }) }}" title="Lock this talk" class="settingsChangePseudo"><i class="fa-solid fa-lock-open"></i></a>
            {% endif %}
        </h1>
        <div class="onePostContainer">
            <div class="onePostTopContainer">
                <figure class="oneTalkUserContainer">
                    <img src="{{ talk.user.imageProfil ? asset('uploads/' ~ talk.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="User {{ talk.user.pseudo }} profile picture" class="oneTalkUserImage">
                    <figcaption class="oneTalkUsername post">{{ talk.user.pseudo }}</figcaption>
                </figure>
                {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la création de la discussion et maintenant #}
                {% set textCreation = _self.textTimeAgo(talk.posts|first.dateCreation) %}
                <div class="oneTalkTopRightContainer">
                    <p class="oneTalkUserTime post" title="{{ talk.posts|first.dateCreation|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textCreation }}</i></p>
                    {# Si la discussion appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, la discussion peut être supprimer #}
                    {% if (talk.user == app.user and not talk.estVerrouiller) or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_discussion', { id: talk.id }) }}" class="talkDeleteLink" title="Delete this talk"><i class="fa-solid fa-trash-can"></i></a>
                    {% endif %}
                </div>
            </div>
            <p class="animeRemainingRightContentPartOpinionsMidContent">{{ talk.posts|first.contenu }}</p>
            <div class="onePostBottomContainer">
            {% if talk.posts|first.dateCreation != talk.posts|first.dateDerniereModification %}
                {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la dernière modification de la discussion et maintenant #}
                {% set textFirstModified = _self.textTimeAgo(talk.posts|first.dateDerniereModification) %}
                <p class="oneTalkUserTime post bottom" title="{{ talk.posts|first.dateDerniereModification|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Modified {{ textFirstModified }}</i></p>
            {% endif %}
            {% if app.user %}
                {# Si le post est liké par l'utilisateur #}
                {% if talk.posts|first.users.contains(app.user) %}
                    <a href="{{ path('unlike_post', { discussion_id: talk.id, id: talk.posts|first.id }) }}" class="onePostLikes" title="Unlike this post"><i class="fa-solid fa-heart"></i> <span class="onePostLikesNumber">{{ talk.posts|first.users|length }}</span></a>
                {% else %}
                    <a href="{{ path('like_post', { discussion_id: talk.id, id: talk.posts|first.id }) }}" class="onePostLikes" title="Like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ talk.posts|first.users|length }}</span></a>
                {% endif %}
            {% else %}
                <p class="onePostLikes" title="Log in to like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ talk.posts|first.users|length }}</span></p>
            {% endif %}
            </div>
        </div>
        <div class="oneTalkRepliesTopContainer">
            {% set responseNumber = talk.posts|length - 1 %}
            <p class="oneTalkRepliesNumber">
                {{ responseNumber }} {{ responseNumber > 1 ? 'Replies' : 'Reply' }}
                {# Si l'utilisateur est connecté et la discussion n'est pas verrouiller, l'utilisateur peut créer une discussion #}
                {% if app.user and not talk.estVerrouiller %}
                    <a href="{{ path('add_post', { id: talk.id }) }}" class="profileInfosButton addPost" title="Reply to this discussion">Reply</a>
                {% endif %}
            </p>
            <p class="oneTalkFilterText"><span class="oneTalkFilterTextBefore">Filter by :</span> Date - Likes</p>
        </div>
        {% if talk.posts|length > 1 %}
            {% for post in talk.posts|slice(1) %}
            <div class="onePostContainer">
                <div class="onePostTopContainer">
                    <figure class="oneTalkUserContainer">
                        <img src="{{ post.user.imageProfil ? asset('uploads/' ~ post.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="User {{ post.user.pseudo }} profile picture" class="oneTalkUserImage">
                        <figcaption class="oneTalkUsername post">{{ post.user.pseudo }}</figcaption>
                    </figure>
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la création du post et maintenant #}
                    {% set textPublication = _self.textTimeAgo(post.dateCreation) %}
                    <div class="oneTalkTopRightContainer">
                        <p class="oneTalkUserTime post" title="{{ post.dateCreation|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textPublication }}</i></p>
                        <div class="oneTalkTopRightBottomLine">
                            {# Si le post appartient à l'utilisateur et n'est pas verrouillé, il pourra le modifier #}
                            {% if post.user == app.user and not talk.estVerrouiller %}
                                <a href="{{ path('edit_post', { discussion_id: talk.id, id: post.id }) }}" class="settingsChangePseudo" title="Edit this post"><i class="fa-solid fa-pen-to-square"></i></a>            
                            {% endif %}
                            {# Si le post appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, le peut être supprimer #}
                            {% if (post.user == app.user and not talk.estVerrouiller) or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('delete_post', { discussion_id: talk.id, id: post.id }) }}" class="talkDeleteLink" title="Delete this post"><i class="fa-solid fa-trash-can"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p class="animeRemainingRightContentPartOpinionsMidContent">{{ post.contenu }}</p>
                <div class="onePostBottomContainer">
                {% if post.dateCreation != post.dateDerniereModification %}
                    {# Appel de la macro (fonction) pour l'affichage de la différence de temps entre la dernière modification du post et maintenant #}
                    {% set textModified = _self.textTimeAgo(post.dateDerniereModification) %}
                    <p class="oneTalkUserTime post bottom" title="{{ post.dateDerniereModification|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Modified {{ textModified }}</i></p>
                {% endif %}
                {% if app.user %}
                    {# Si le post est liké par l'utilisateur #}
                    {% if post.users.contains(app.user) %}
                        <a href="{{ path('unlike_post', { discussion_id: talk.id, id: post.id }) }}" class="onePostLikes" title="Unlike this post"><i class="fa-solid fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                    {% else %}
                        <a href="{{ path('like_post', { discussion_id: talk.id, id: post.id }) }}" class="onePostLikes" title="Like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                    {% endif %}
                {% else %}
                    <p class="onePostLikes" title="Log in to like this post"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></p>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}