{% extends 'base.html.twig' %}

{% block title %}{{ talk.titre }}{% endblock %}

{% block body %}
    <main class="talkContainer">
        <h1 class="title talks">
            {{ talk.titre }}

            {# Si la discussion appartient à l'utilisateur et n'est pas verrouillé, il pourra la modifier #}
            {% if talk.user == app.user and not talk.estVerrouiller %}
                <a href="{{ path('edit_discussion', { id: talk.id }) }}" class="settingsChangePseudo" title="Edit this talk"><i class="fa-solid fa-pen-to-square"></i></a>            
            {% endif %}

            {# Si l'utilisateur est un admin et la discussion est verrouillé, il pourra déverrouiller celle-ci #}
            {# Si l'utilisateur est un admin et la discussion n'est pas verrouillé, il pourra verrouiller celle-ci #}
            {% if is_granted('ROLE_ADMIN') and talk.estVerrouiller %}
                <a href="{{ path('unlock_discussion', { id: talk.id }) }}" title="Unlock this talk" class="settingsChangePseudo"><i class="fa-solid fa-lock"></i></a>
            {% elseif is_granted('ROLE_ADMIN') and not talk.estVerrouiller %}
                <a href="{{ path('lock_discussion', { id: talk.id }) }}" title="Lock this talk" class="settingsChangePseudo"><i class="fa-solid fa-lock-open"></i></a>
            {% endif %}
        </h1>
        <div class="onePostContainer">
            <div class="onePostTopContainer">
                <figure class="oneTalkUserContainer">
                    <img src="{{ talk.user.imageProfil ? asset('uploads/' ~ talk.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="User {{ talk.user.pseudo }} profile picture" class="oneTalkUserImage">
                    <figcaption class="oneTalkUsername post">{{ talk.user.pseudo }}</figcaption>
                </figure>
                {# Calcul de l'écart entre la création de la discussion et maintenant (grâce au temps unix) #}
                {% set now = 'now'|date("U") %}
                {% set publicationDate = talk.posts|first.dateCreation|date("U") %}
                {% set timeDifference = now - publicationDate %}
                {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
                {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
                {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
                {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
                {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
                {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
                {# On crée un texte en fonction du temps manquant #}
                {% if years > 0 %}
                    {% set textPublication = years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' %}
                {% elseif months > 0 %}
                    {% set textPublication = months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' %}
                {% elseif weeks > 0 %}
                    {% set textPublication = weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' %}
                {% elseif days > 0 %}
                    {% set textPublication = days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' %}
                {% elseif hours > 0 %}
                    {% set textPublication = hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' %}
                {% elseif minutes > 0 %}
                    {% set textPublication = minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' %}
                {% else %}
                    {% set textPublication = 'just now' %}
                {% endif %}
                <div class="oneTalkTopRightContainer">
                    <p class="oneTalkUserTime post" title="{{ talk.posts|first.dateCreation|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textPublication }}</i></p>
                    {# Si la discussion appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, la discussion peut être supprimer #}
                    {% if (talk.user == app.user and not talk.estVerrouiller) or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_discussion', { id: talk.id }) }}" class="talkDeleteLink" title="Delete this talk"><i class="fa-solid fa-trash-can"></i></a>
                    {% endif %}
                </div>
            </div>
            <p class="animeRemainingRightContentPartOpinionsMidContent">{{ talk.posts|first.contenu }}</p>
        </div>
        <div class="oneTalkRepliesTopContainer">
            {% set responseNumber = talk.posts|length - 1 %}
            <p class="oneTalkRepliesNumber">
                {{ responseNumber }} {{ responseNumber > 1 ? 'Replies' : 'Reply' }}
                {# Si l'utilisateur est connecté et la discussion n'est pas verrouiller, l'utilisateur peut créer une discussion #}
                {% if app.user and not talk.estVerrouiller %}
                    <a href="{{ path('add_post', { id: talk.id }) }}" class="profileInfosButton addPost" title="Reply to this discussion">Reply</a>
                {% endif %}
            </p>
            <p class="oneTalkFilterText"><span class="oneTalkFilterTextBefore">Filter by :</span> Date - Likes</p>
        </div>
        {% if talk.posts|length > 1 %}
            {% for post in talk.posts|slice(1) %}
            <div class="onePostContainer">
                <div class="onePostTopContainer">
                    <figure class="oneTalkUserContainer">
                        <img src="{{ post.user.imageProfil ? asset('uploads/' ~ post.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="User {{ post.user.pseudo }} profile picture" class="oneTalkUserImage">
                        <figcaption class="oneTalkUsername post">{{ post.user.pseudo }}</figcaption>
                    </figure>
                    {# Calcul de l'écart entre la création de la discussion et maintenant (grâce au temps unix) #}
                    {% set now = 'now'|date("U") %}
                    {% set publicationDate = post.dateCreation|date("U") %}
                    {% set timeDifference = now - publicationDate %}
                    {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
                    {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
                    {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
                    {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
                    {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
                    {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
                    {# On crée un texte en fonction du temps manquant #}
                    {% if years > 0 %}
                        {% set textPublication = years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' %}
                    {% elseif months > 0 %}
                        {% set textPublication = months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' %}
                    {% elseif weeks > 0 %}
                        {% set textPublication = weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' %}
                    {% elseif days > 0 %}
                        {% set textPublication = days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' %}
                    {% elseif hours > 0 %}
                        {% set textPublication = hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' %}
                    {% elseif minutes > 0 %}
                        {% set textPublication = minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' %}
                    {% else %}
                        {% set textPublication = 'just now' %}
                    {% endif %}
                    <div class="oneTalkTopRightContainer">
                        <p class="oneTalkUserTime post" title="{{ post.dateCreation|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ textPublication }}</i></p>
                        <div class="oneTalkTopRightBottomLine">
                            {# Si le post appartient à l'utilisateur et n'est pas verrouillé, il pourra le modifier #}
                            {% if post.user == app.user and not talk.estVerrouiller %}
                                <a href="{{ path('edit_post', { discussion_id: talk.id, id: post.id }) }}" class="settingsChangePseudo" title="Edit this post"><i class="fa-solid fa-pen-to-square"></i></a>            
                            {% endif %}
                            {# Si le post appartient à l'utilisateur et n'est pas verrouiller, ou si l'utilisateur est un admin, le peut être supprimer #}
                            {% if (post.user == app.user and not talk.estVerrouiller) or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('delete_post', { discussion_id: talk.id, id: post.id }) }}" class="talkDeleteLink" title="Delete this post"><i class="fa-solid fa-trash-can"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p class="animeRemainingRightContentPartOpinionsMidContent">{{ post.contenu }}</p>
                <div class="onePostBottomContainer">
                    {% if post.dateCreation != post.dateDerniereModification %}
                        {# Calcul de l'écart entre la création de la discussion et la date de dernnière modification du post (grâce au temps unix) #}
                        {% set now = 'now'|date("U") %}
                        {% set lastModifiedDate = post.dateDerniereModification|date("U") %}
                        {% set timeDifference = now - lastModifiedDate %}
                        {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
                        {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
                        {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
                        {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
                        {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
                        {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
                        {# On crée un texte en fonction du temps manquant #}
                        {% if years > 0 %}
                            {% set textModified = years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' %}
                        {% elseif months > 0 %}
                            {% set textModified = months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' %}
                        {% elseif weeks > 0 %}
                            {% set textModified = weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' %}
                        {% elseif days > 0 %}
                            {% set textModified = days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' %}
                        {% elseif hours > 0 %}
                            {% set textModified = hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' %}
                        {% elseif minutes > 0 %}
                            {% set textModified = minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' %}
                        {% else %}
                            {% set textModified = 'just now' %}
                        {% endif %}
                        <p class="oneTalkUserTime post bottom" title="{{ post.dateDerniereModification|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Modified {{ textModified }}</i></p>
                    {% endif %}
                    <a href="" class="onePostLikes"><i class="fa-regular fa-heart"></i> <span class="onePostLikesNumber">{{ post.users|length }}</span></a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}