{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="securityFormContainer">
        {{ form_start(requestForm) }}
            <h1 class="securityFormTitle">Reset your password</h1>
            <div class="securityFormRow">
                {{ form_label(requestForm.email, 'Email*') }}
                {{ form_widget(requestForm.email) }}
            </div>
            <p><small>Enter your email address, and we will send you a link to reset your password.</small></p>

            <button class="securityFormSubmitButton" title="Send Email">Send Email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
