{% extends 'base.html.twig' %}

{% block title %}Admin Space{% endblock %}

{% block body %}
    <h1 class="title">Admin Space : {{ app.user.pseudo }}</h1>
    <div>
        <p>Number of users: {{ totalUsers }} <a href="#">See all users (Not banned and banned)</a></p>
        <p>Number of talks: {{ totalTalks }} </p>
        <p>Number of animes in our database : {{ totalAnimes }} <a href="#">See all animes</a></p>
    </div>
    <section>
        <h2>Most active users</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Talks</th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                        {% for userMostTalksCreated in usersMostTalksCreated %}
                            <tr>
                                <td><a href="{{ path('show_user' , { id: userMostTalksCreated.userId }) }}">{{ userMostTalksCreated.pseudo }}</a></td>
                                <td>{{ userMostTalksCreated.talksCount }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Posts</th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2>Most active talks</h2>
    </section>
    <section>
        <h2>Users and number of animes in there anime list</h2>
    </section>
{% endblock %}
