{% extends 'base.html.twig' %}

{% block title %}Admin Space{% endblock %}

{% block body %}
<main>
    <h1 class="title">Admin Space : {{ app.user.pseudo }}</h1>
    <div class="adminStats">
        <p class="adminStatsOneLine"><i>Number of users:</i> <b>{{ totalUsers }}</b> <a href="{{ path('users_admin') }}" class="adminLink">See all users</a></p>
        <p class="adminStatsOneLine"><i>Number of talks:</i> <b>{{ totalTalks }}</b> </p>
        <p class="adminStatsOneLine"><i>Number of animes in our database:</i> <b>{{ totalAnimes }}</b></p>
        <p class="adminStatsOneLine"><i>Number of characters in our database:</i> <b>{{ totalCharacters }}</b></p>
    </div>
    <section class="adminSection">
        <h2>Most active users</h2>
        <div class="adminTableContainer">
            <table class="adminTable">
                <thead>
                    <tr>
                        <th colspan="2">Talks</th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                {% for userMostTalksCreated in usersMostTalksCreated %}
                    <tr>
                        <td><a href="{{ path('show_user' , { id: userMostTalksCreated.userId }) }}" class="adminLinkText">{{ userMostTalksCreated.pseudo }}</a></td>
                        <td>{{ userMostTalksCreated.talksCount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="adminTable">
                <thead>
                    <tr>
                        <th colspan="2">Posts</th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                {% for userMostPostsCreated in usersMostPostsCreated %}
                    <tr>
                        <td><a href="{{ path('show_user' , { id: userMostPostsCreated.userId }) }}" class="adminLinkText">{{ userMostPostsCreated.pseudo }}</a></td>
                        <td>{{ userMostPostsCreated.postsCount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock %}
