{% extends 'base.html.twig' %}

{% block title %}Admin Space : Users{% endblock %}

{% block body %}
    <main>
        <h1 class="title">Admin Space : Users</h1>
        <section>
            <h2>Non banned Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for nonBannedUser in nonBannedUsers %}
                    <tr>
                        <td>{{ nonBannedUser.pseudo }}</td>
                        <td>{{ nonBannedUser.email }}</td>
                        <td>{{ nonBannedUser.dateInscription|date('m/d/Y H:i:s') }}</td>
                        <td>
                            {% if 'ROLE_ADMIN' not in nonBannedUser.roles %}
                                <a href="#" title="Ban this user"><i class="fa-solid fa-user-xmark"></i>
                            {% endif %}
                        </td>
                    </tr>        
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <h2>Banned Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for bannedUser in bannedUsers %}
                    <tr>
                        <td>{{ bannedUser.pseudo }}</td>
                        <td>{{ bannedUser.email }}</td>
                        <td>{{ bannedUser.dateInscription|date('m/d/Y H:i:s') }}</td>
                        <td><a href="#" title="Unban this user"><i class="fa-solid fa-user-plus"></i></a></td>
                    </tr>        
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <h2>Unverified Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                    </tr>
                </thead>
                <tbody>
                {% for unverifiedUser in unverifiedUsers %}
                    <tr>
                        <td>{{ unverifiedUser.pseudo }}</td>
                        <td>{{ unverifiedUser.email }}</td>
                        <td>{{ unverifiedUser.dateInscription|date('m/d/Y H:i:s') }}</td>
                        <td><a href="#" title="Send a email confirmation"><i class="fa-solid fa-envelope"></i></a></td>
                    </tr>        
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <h2>Admins</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                    </tr>
                </thead>
                <tbody>
                {% for nonBannedUser in nonBannedUsers %}
                    {% if 'ROLE_ADMIN' in nonBannedUser.roles %}
                        <tr>
                            <td>{{ nonBannedUser.pseudo }}</td>
                            <td>{{ nonBannedUser.email }}</td>
                            <td>{{ nonBannedUser.dateInscription|date('m/d/Y H:i:s') }}</td>
                        </tr>       
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}

