{% extends 'base.html.twig' %}

{% block title %}Admin Space : Users{% endblock %}

{% block body %}
    <main>
        <h1 class="title">Admin Space : Users</h1>
        <section class="adminSection">
            <h2>Non banned Users</h2>
            <table class="adminTable full">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for nonBannedUser in nonBannedUsers %}
                    <tr>
                        <td><a href="{{ path('show_user', { id: nonBannedUser.id }) }}" title="{{ nonBannedUser.username }}" class="adminLinkText">{{ nonBannedUser.username }}</a></td>
                        <td>{{ nonBannedUser.email }}</td>
                        <td>{{ nonBannedUser.registrationDate|date('m/d/Y H:i:s') }}</td>
                        <td>
                            {% if 'ROLE_ADMIN' not in nonBannedUser.roles %}
                                <a href="{{ path('ban_user_admin', { id: nonBannedUser.id }) }}" title="Ban this user" class="settingsChangePseudo"><i class="fa-solid fa-user-xmark"></i>
                            {% endif %}
                        </td>
                    </tr>        
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="adminSection">
            <h2>Banned Users</h2>
            <table class="adminTable full">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for bannedUser in bannedUsers %}
                    <tr>
                        <td><a href="{{ path('show_user', { id: bannedUser.id }) }}" title="{{ bannedUser.username }}" class="adminLinkText">{{ bannedUser.username }}</a></td>
                        <td>{{ bannedUser.email }}</td>
                        <td>{{ bannedUser.registrationDate|date('m/d/Y H:i:s') }}</td>
                        <td><a href="{{ path('unban_user_admin', { id:bannedUser.id }) }}" title="Unban this user" class="settingsChangePseudo"><i class="fa-solid fa-user-plus"></i></a></td>
                    </tr>        
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="adminSection">
            <h2>Unverified Users</h2>
            <table class="adminTable full">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for unverifiedUser in unverifiedUsers %}
                    <tr>
                        <td><a href="{{ path('show_user', { id: unverifiedUser.id }) }}" title="{{ unverifiedUser.username }}" class="adminLinkText">{{ unverifiedUser.username }}</a></td>
                        <td>{{ unverifiedUser.email }}</td>
                        <td>{{ unverifiedUser.registrationDate|date('m/d/Y H:i:s') }}</td>
                        <td><a href="{{ path('resend_confirmation_user_admin', { id: unverifiedUser.id }) }}" title="Resend an email confirmation" class="settingsChangePseudo"><i class="fa-solid fa-envelope"></i></a></td>
                    </tr>        
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="adminSection">
            <h2>Admins</h2>
            <table class="adminTable full">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Register date</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in nonBannedUsers %}
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <tr>
                            <td><a href="{{ path('show_user', { id: user.id }) }}" title="{{ user.username }}" class="adminLinkText">{{ user.username }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.registrationDate|date('m/d/Y H:i:s') }}</td>
                        </tr>       
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}

