{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {{ form_errors(form) }}
    <div class="securityFormContainer {{ app.user and app.user.darkMode ? 'dark' }}">
        {{ form_start(form) }}
        <h1 class="securityFormTitle {{ app.user and app.user.darkMode ? 'dark' }}">Contact Us</h1>
        <div class="securityFormRow {{ app.user and app.user.darkMode ? 'dark' }}">
            {{ form_label(form.email, 'Email*') }}
            {{ form_widget(form.email) }}
        </div>
        <div class="securityFormRow {{ app.user and app.user.darkMode ? 'dark' }}">
            {{ form_label(form.subject, 'Subject*') }}
            {{ form_widget(form.subject) }}
        </div>
        <div class="securityFormRow {{ app.user and app.user.darkMode ? 'dark' }}">
            {{ form_label(form.message, 'Message*') }}
            {{ form_widget(form.message) }}
        </div>
        <button type="submit" class="securityFormSubmitButton {{ app.user and app.user.darkMode ? 'dark' }}" title="Send">SEND</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
