{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}'s Anime List{% endblock %}

{% block body %}
    <main>
        <h1 class="homeTitle">{{ user.pseudo }}'s Anime List</h1>
        <section class="animeListButtonsContainer">
            <button class="animeListButton active" id="animeListButtonAll">ALL</button>
            <button class="animeListButton" id="animeListButtonWatching">WATCHING</button>
            <button class="animeListButton" id="animeListButtonCompleted">COMPLETED</button>
            <button class="animeListButton" id="animeListButtonPlanned">PLANNED TO WATCH</button>
        </section>
        <section class="animeListContainer" id="animeListAll">
            {% for key, anime in animesDataByState["Watching"] %}
                <figure>
                    <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                    <div class="animeEpisodesWatchedContainer">
                        <i class="fa-solid fa-minus animeEpisodesWatchedControl minus"></i>
                        <p class="animeEpisodesWatched">{{ anime.episodesWatched }}/{{ anime.episodes ? anime.episodes : "?" }}</p>
                        <i class="fa-solid fa-plus animeEpisodesWatchedControl plus"></i>
                    </div>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
            {% for key, anime in animesDataByState["Completed"] %}
                <figure>
                    <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
            {% for key, anime in animesDataByState["Plan to watch"] %}
                <figure>
                    <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
        </section>
        <section class="animeListContainer" id="animeListWatching">
            {% for key, anime in animesDataByState["Watching"] %}
                <figure>
                    <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                    <div class="animeEpisodesWatchedContainer">
                        <i class="fa-solid fa-minus animeEpisodesWatchedControl minus"></i>
                        <p class="animeEpisodesWatched">{{ anime.episodesWatched }}/{{ anime.episodes ? anime.episodes : "?" }}</p>
                        <i class="fa-solid fa-plus animeEpisodesWatchedControl plus"></i>
                    </div>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
        </section>
        <section class="animeListContainer" id="animeListCompleted">
            {% for key, anime in animesDataByState["Completed"] %}
                <figure>
                    <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
        </section>
        <section class="animeListContainer" id="animeListPlanned">
            {% for key, anime in animesDataByState["Plan to watch"] %}
                <figure>
                    <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
        </section>
    </main>
{% endblock %}