{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}'s Anime List{% endblock %}

{% block body %}
    <main>
        <h1 class="title">{{ user.pseudo }}'s Anime List</h1>
        <div class="animeListButtonsContainer">
            <button class="animeListButton active" id="animeListButtonAll">ALL</button>
            <button class="animeListButton" id="animeListButtonWatching">WATCHING</button>
            <button class="animeListButton" id="animeListButtonCompleted">COMPLETED</button>
            <button class="animeListButton" id="animeListButtonPlanned">PLANNED TO WATCH</button>
        </div>
        <div class="animeListContainer">
            {% for key, anime in animesDataByState["Watching"] %}
            <figure class="animeListWatching">
                <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                <div class="animeEpisodesWatchedContainer">
                    <a href="{{ path('remove_episode_anime_list_user', { id : key }) }}"><i class="fa-solid fa-minus animeEpisodesWatchedControl minus"></i></a>
                    <p class="animeEpisodesWatched">{{ anime.episodesWatched }}/{{ anime.episodes|default('?') }}</p>
                    <a href="{{ path('add_episode_anime_list_user', { id : key }) }}"><i class="fa-solid fa-plus animeEpisodesWatchedControl plus"></i></a>
                </div>
                <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji|default('Unknown') }}" class="animeListAnimeImage">
                <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { id : anime.id }) }}">{{ anime.title.romaji|default('Unknown') }}</a></figcaption>
            </figure>
            {% endfor %}
            {% for key, anime in animesDataByState["Completed"] %}
            <figure class="animeListCompleted">
                <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji|default('Unknown') }}" class="animeListAnimeImage">
                <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { id : anime.id }) }}">{{ anime.title.romaji|default('Unknown') }}</a></figcaption>
            </figure>
            {% endfor %}
            {% for key, anime in animesDataByState["Plan to watch"] %}
            <figure class="animeListPlanned">
                <a href="{{ path('change_anime_list_user', { id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji|default('Unknown') }}" class="animeListAnimeImage">
                <figcaption class="homeOneAnimeTitle"><a href="{{ path('show_anime', { id : anime.id }) }}">{{ anime.title.romaji|default('Unknown') }}</a></figcaption>
            </figure>
            {% endfor %}
        </div>
    </main>

    {% block script %}
        <script>
            // Récupération des boutons de la page de la liste d'animé
            const buttons = document.querySelectorAll(".animeListButton");

            // Récupération des boutons de manière distinctives
            const animeListButtonAll = document.getElementById("animeListButtonAll");
            const animeListButtonWatching = document.getElementById("animeListButtonWatching");
            const animeListButtonCompleted = document.getElementById("animeListButtonCompleted");
            const animeListButtonPlanned = document.getElementById("animeListButtonPlanned");

            // Récupération des animés de manières distinctives
            const animesWatching = document.querySelectorAll(".animeListWatching");
            const animesCompleted = document.querySelectorAll(".animeListCompleted");
            const animesPlanned = document.querySelectorAll(".animeListPlanned");


            // Fonction qui gère les animés à afficher
            function showAnimes(selectedStatus){
                // On récupère les animés avec différents status
                const allAnimes = [animesWatching, animesCompleted, animesPlanned];

                // On n'affiche plus d'animé
                allAnimes.forEach(status => {
                    status.forEach(anime => {
                        anime.style.display = "none";
                    });
                });
                // Pour pouvoir afficher ceux demandées
                selectedStatus.forEach(anime => {
                    anime.style.display = "block";
                })
            }

            // Pour chaque bouton
            buttons.forEach((button) => {
                // Quand un des boutons est cliqué
                button.addEventListener("click", () => {
                    // On enlève la classe active à tout les boutons
                    buttons.forEach((btn) => {
                        btn.classList.remove("active");
                    });
                    // Pour ajouter la classe active au bouton cliqué
                    button.classList.add("active");

                    // On affiche les animés demandées
                    if(button === animeListButtonAll){
                        // Affichage de tout les animés
                        showAnimes([...animesWatching, ...animesCompleted, ...animesPlanned]);
                    }
                    else if(button === animeListButtonWatching){
                        // Affichage des animés en cours de visionnage
                        showAnimes(animesWatching);
                    }
                    else if(button === animeListButtonCompleted){
                        // Affichage des animés compléter
                        showAnimes(animesCompleted);
                    }
                    else if (button === animeListButtonPlanned){
                        // Affichage des animé qui sont prévus d'être visionner
                        showAnimes(animesPlanned);
                    }
                });
            });

            // On affiche de base tout les animés
            showAnimes([...animesWatching, ...animesCompleted, ...animesPlanned]);
        </script>
    {% endblock %}
{% endblock %}