{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}'s Anime List{% endblock %}

{% block body %}
    <main>
        <h1 class="homeTitle">{{ user.pseudo }}'s Anime List</h1>
        <section class="animeListButtonsContainer">
            <button class="animeListButton active" id="animeListButtonAll">ALL</button>
            <button class="animeListButton" id="animeListButtonWatching">WATCHING</button>
            <button class="animeListButton" id="animeListButtonCompleted">COMPLETED</button>
            <button class="animeListButton" id="animeListButtonPlanned">PLANNED TO WATCH</button>
        </section>
        <section class="animeListContainer" id="animeListAll">
            {% for key, animeData in animesDataByState["Watching"] %}
                {% for anime in animeData.data.Page.media %}
                    <figure>
                        <a href="{{ path('change_anime_list_user', { id: user.id, userRegarderAnime_id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                        <div class="animeEpisodesWatchedContainer">
                            <i class="fa-solid fa-minus animeEpisodesWatchedControl minus"></i>
                            <p class="animeEpisodesWatched">5/13</p>
                            <i class="fa-solid fa-plus animeEpisodesWatchedControl plus"></i>
                        </div>
                        <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            {% endfor %}
            {% for key, animeData in animesDataByState["Completed"] %}
                {% for anime in animeData.data.Page.media %}
                    <figure>
                        <a href="{{ path('change_anime_list_user', { id: user.id, userRegarderAnime_id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                        <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            {% endfor %}
            {% for key, animeData in animesDataByState["Plan to watch"] %}
                {% for anime in animeData.data.Page.media %}
                    <figure>
                        <a href="{{ path('change_anime_list_user', { id: user.id, userRegarderAnime_id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                        <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            {% endfor %}
        </section>
        <section class="animeListContainer" id="animeListWatching">
            {% for key, animeData in animesDataByState["Watching"] %}
                {% for anime in animeData.data.Page.media %}
                    <figure>
                        <a href="{{ path('change_anime_list_user', { id: user.id, userRegarderAnime_id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                        <div class="animeEpisodesWatchedContainer">
                            <i class="fa-solid fa-minus animeEpisodesWatchedControl minus"></i>
                            <p class="animeEpisodesWatched">5/13</p>
                            <i class="fa-solid fa-plus animeEpisodesWatchedControl plus"></i>
                        </div>
                        <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            {% endfor %}
        </section>
        <section class="animeListContainer" id="animeListCompleted">
            {% for key, animeData in animesDataByState["Completed"] %}
                {% for anime in animeData.data.Page.media %}
                    <figure>
                        <a href="{{ path('change_anime_list_user', { id: user.id, userRegarderAnime_id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                        <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            {% endfor %}
        </section>
        <section class="animeListContainer" id="animeListPlanned">
            {% for key, animeData in animesDataByState["Plan to watch"] %}
                {% for anime in animeData.data.Page.media %}
                    <figure>
                        <a href="{{ path('change_anime_list_user', { id: user.id, userRegarderAnime_id: key }) }}"><i class="fa-solid fa-bars animeMenu"></i></a>
                        <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                        <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                    </figure>
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock %}