{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}'s Anime List{% endblock %}

{% set animesData = animes.data.Page.media %}

{% block body %}
    <main>
        <h1 class="homeTitle">{{ user.pseudo }}'s Anime List</h1>
        <section class="animeListButtonsContainer">
            <button class="animeListButton active">ALL</button>
            <button class="animeListButton">WATCHING</button>
            <button class="animeListButton">COMPLETED</button>
            <button class="animeListButton">PLANNED TO WATCH</button>
        </section>
        <section class="animeListContainer">
            {% for anime in animesData %}
                <figure>
                    <i class="fa-solid fa-bars animeMenu"></i>
                    <div class="animeEpisodesWatchedContainer">
                        <i class="fa-solid fa-minus animeEpisodesWatchedControl minus"></i>
                        <p class="animeEpisodesWatched">5/13</p>
                        <i class="fa-solid fa-plus animeEpisodesWatchedControl plus"></i>
                    </div>
                    <img src="{{ anime.coverImage.large }}" alt="Cover image of {{ anime.title.romaji }}" class="animeListAnimeImage">
                    <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
                </figure>
            {% endfor %}
        </section>
    </main>
{% endblock %}