{% extends 'base.html.twig' %}

{% block title %}Modify your list{% endblock %}
{% set anime = animeData.data.Media %}

{% block body %}
    <main class="animeListModifyContainer">
        <figure>
            <img src="{{ anime.coverImage.large }}" alt="Cover Image of {{ anime.title.romaji }}" class="animeListAnimeImage">
            <figcaption class="homeOneAnimeTitle">{{ anime.title.romaji }}</figcaption>
            <button class="animeButtonAddTo favorites">Add to your favorites</button>
        </figure>
        {{ form_start(form, { 'attr' : { 'class': 'animeListModifyForm' } }) }}
            <div class="animeListModifyFormLine">
                <div class="securityFormRow">
                    {{ form_label(form.dateDebutVisionnage, 'Started Watching') }}
                    {{ form_widget(form.dateDebutVisionnage) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.dateFinVisionnage, 'Finished Watching') }}
                    {{ form_widget(form.dateFinVisionnage) }}
                </div>
            </div>
            <div class="animeListModifyFormLine">
                <div class="securityFormRow">
                    {{ form_label(form.etat, 'Status') }}
                    {{ form_widget(form.etat) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.nombreEpisodeVu, 'Episodes Watched') }}
                    {{ form_widget(form.nombreEpisodeVu) }}
                </div>
            </div>
            <div class="animeListModifyFormLine">
                <a href="{{ path('remove_anime_from_list_user', { id : userRegarderAnime.id }) }}" class="animeButtonAddTo favorites">Delete</a>
                <button type="submit" class="securityFormSubmitButton">Save</button>
            </div>
        {{ form_end(form) }}
    </main>
    {% block javascript %}
        <script>
            // On crée un écouteur quand la page est bien chargé
            document.addEventListener("DOMContentLoaded", function (){
                // On récupère les inputs concernés (état et nombre d'épisodes vu)
                var statusField = document.getElementById("modify_anime_list_form_etat");
                var episodesWatchedField = document.getElementById("modify_anime_list_form_nombreEpisodeVu");
            
                // On crée une fonction qui change l'input du nombre d'épisodes vu en fonction de l'état
                function changeEpisodesWatchedField(){
                    // On récupère la valeur de l'état
                    var selectedState = statusField.value;
                    // Si l'anime a été vu totalement, on ne peut plus changer le nombre d'épisodes vu et il reste au maximum d'épisodes de l'animé
                    if(selectedState === "Completed"){
                        episodesWatchedField.value = episodesWatchedField.getAttribute("max");
                        episodesWatchedField.readOnly = true;
                    }
                    else{
                        episodesWatchedField.readOnly = false;
                    }
                }
                // On applique la fonction créée dès que la page est chargé
                changeEpisodesWatchedField();
                // On rajoute une écoute sur le changement de l'état de l'animé
                statusField.addEventListener("change", function (){
                    changeEpisodesWatchedField();
                });
            });
        </script>
    {% endblock %}
{% endblock %}