<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Explore the world of anime. Browse our extensive anime catalog, stay up-to-date with your anime calendar, and engage in discussions about your favorite series.">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
            <link rel="stylesheet" href="{{ asset("css/home.css") }}" >
            <link rel="stylesheet" href="{{ asset("css/general.css") }}">
            <link rel="stylesheet" href="{{ asset("css/anime.css") }}">
            <link rel="stylesheet" href="{{ asset("css/character.css") }}">
            <link rel="stylesheet" href="{{ asset("css/security.css") }}">
            <link rel="stylesheet" href="{{ asset("css/profile.css") }}">
            <link rel="stylesheet" href="{{ asset("css/animeList.css") }}">
            <link rel="stylesheet" href="{{ asset("css/talks.css") }}">
            <link rel="stylesheet" href="{{ asset("css/calendar.css") }}">
            <link rel="stylesheet" href="{{ asset("css/responsive.css") }}">
        {% endblock %}
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="flashMessage flashMessage-{{ type }}">
                    <b>{{ message }}</b>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="navBarContainer">
            <i class="fa-solid fa-bars responsiveNavBarOpen"></i>
            <nav class="navBar">
                <ul class="navBarContent">
                    <li class="navBarElement"><a href="{{ path('app_home') }}" class="navBarElementLink">HOME</a></li>
                    <li class="navBarElementDropdown">
                        <button class="navBarElementDropdownButton">ANIME</button>
                        <ul class="navBarElementDropdownContent">
                            <li><a href="{{ path('top_anime') }}" class="navBarElementLink navBarElementDropdownLink">TOP</a></li>
                            <li><a href="{{ path('seasonal_anime') }}" class="navBarElementLink navBarElementDropdownLink">SEASONIAL</a></li>
                        </ul>
                    </li>
                    <li class="navBarElement"><a href="#" class="navBarElementLink">SEARCH</a></li>
                    <li class="navBarElement"><a href="{{ path('app_discussion') }}" class="navBarElementLink">TALKS</a></li>                    
                </ul>    
            </nav>
            <div class="navBarProfile">
                {% if app.user %}
                <div class="navBarProfileContainer">
                    <p class="navBarProfilePseudo">{{ app.user.pseudo }}</p>
                    <img src="{{ app.user.imageProfil ? asset('uploads/' ~ app.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="Your Profile Picture" class="navBarProfilePicture">
                </div>
                {% else %}
                <a href="{{ path('app_login') }}" class="navBarButton">LOG IN</a>
                <a href="{{ path('app_register') }}" class="navBarButton">REGISTER</a>
                {% endif %}
            </div>
            {% if app.user %}
                <div class="navBarUserMenu">
                    <div class="navBarUserMenuTop">
                        <img src="{{ app.user.imageProfil ? asset('uploads/' ~ app.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="Your Profile Picture" class="navBarProfilePicture">
                        <p class="navBarProfilePseudo">{{ app.user.pseudo }}</p>
                        <i class="fa-solid fa-xmark navBarUserMenuClose"></i>
                    </div>
                    <ul>
                        <li class="navBarUserMenuLink"><a href="{{ path('show_user', { id: app.user.id }) }}"><i class="fa-regular fa-user"></i>Profile</a></li>
                        <li class="navBarUserMenuLink"><a href="{{ path('anime_list_user', { id: app.user.id }) }}"><i class="fa-solid fa-table-list"></i>Anime List</a></li>
                        <li class="navBarUserMenuLink"><a href="{{ path('calendar_user') }}"><i class="fa-regular fa-calendar"></i>Calendar</a></li>
                        <li class="navBarUserMenuLink"><a href="{{ path('settings_user') }}"><i class="fa-solid fa-user-gear"></i>Settings</a></li>
                        <li class="navBarUserMenuLink"><a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin') }}" class="navBarAdmin">ADMIN SPACE</a>
                    {% endif %}
                </div>
                <div class="navBarUserMenuOverlay"></div>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script>
                /* On récupère l'élement qui ouvre la barre de navigation et le conteneur et le contenu de la barre de navigation */
                const responsiveNavBarOpen = document.querySelector(".responsiveNavBarOpen");
                const navBar = document.querySelector(".navBar");
                const navBarContent = document.querySelector(".navBarContent");
            
                /* On récupère le conteneur du profil, le menu d'un utilisateur, la partie pour fermer le menu et l'overlay lorsque le menu est actif */
                const navBarProfileContainer = document.querySelector(".navBarProfileContainer");
                const navBarUserMenu = document.querySelector(".navBarUserMenu");
                const navBarUserMenuClose = document.querySelector(".navBarUserMenuClose");
                const navBarUserMenuOverlay = document.querySelector(".navBarUserMenuOverlay");

                /* On ajoute un écouter du click sur l'élement qui ouvre la barre de navigation */
                responsiveNavBarOpen.addEventListener("click", () => {
                    /* Si on clique sur la barre de navigation, on ajoute/supprime différentes classes */
                    navBar.classList.toggle("navBarOpen");
                    navBarContent.classList.toggle("navBarOpen");
                    document.body.classList.toggle("navBarNotScroll");
                });

                /* On ajoute un écouteur du click sur l'élement qui sert à ouvrir le menu d'un utilisateur */
                navBarProfileContainer.addEventListener("click", () => {
                    /* Si on clique dessus, on ajoute différentes classes */
                    document.body.classList.add("navBarNotScroll");
                    navBarUserMenu.classList.add("visible");
                    navBarUserMenuOverlay.classList.add("visible");
                });

                /* On ajoute un écouteur du click sur l'élement qui sert à fermer le menu d'un utilisateur */
                navBarUserMenuClose.addEventListener("click", () => {
                    /* Si on clique dessus, on ajoute différentes classes */
                    document.body.classList.remove("navBarNotScroll");
                    navBarUserMenu.classList.remove("visible");
                    navBarUserMenuOverlay.classList.remove("visible");
                });
            </script>
        {% endblock %}
    </body>
</html>
