{% extends 'base.html.twig' %}

{% block title %}Your calendar{% endblock %}

{% block body %}
    <main>
        <h1 class="title">Your Calendar</h1>
        <div id="calendar">
            <a href="{{ path('add_evenement') }}" class="profileInfosButton">Add a new event</a>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

     {# Ajout de Full Calendar #}
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js" integrity="sha256-alsi6DkexWIdeVDEct5s7cnqsWgOqsh2ihuIZbU6H3I=" crossorigin="anonymous"></script>

     {# Affichage d'un calendrier #}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                allDaySlot: false,
                locale: 'locale',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
                },
                firstDay: 1,
                buttonText: {
                    month: 'Month',
                    week: 'Week',
                    day: 'Day',
                    list: 'List',
                    today: 'Today',
                },
                views: {
                    dayGrid: {
                        dayMaxEvents: 3,
                    },
                    timeGrid: {
                        eventMaxStack: 2
                    },
                    listWeek: {
                        // Dans la vue de la liste des évènement de la semaine, on va personaliser l'affichage de l'évènement
                        eventContent: function(args) {
                            // Création d'une div pour contenir l'évènement
                            let eventElement = document.createElement('div');
        
                            // Création d'un lien pour l'édition 
                            let editLink = document.createElement('a');
                            // Ajout du chemin du lien
                            editLink.href = "{{ path('edit_evenement', { id: 'EVENT_ID' }) }}".replace('EVENT_ID', args.event.id);
                            // Ajout du texte du lien
                            editLink.innerText = 'Edit';
        
                            // Création d'un lien pour la suppression
                            let deleteLink = document.createElement('a');
                            // Ajout du chemin du lien
                            deleteLink.href = "{{ path('delete_evenement', { id: 'EVENT_ID' }) }}".replace('EVENT_ID', args.event.id);
                            // Ajout du texte du lien
                            deleteLink.innerText = 'Delete';
        
                            // On intègre dans le div créé les différents élements (titre et liens)
                            eventElement.appendChild(document.createTextNode(args.event.title + ' '));
                            eventElement.appendChild(editLink);
                            eventElement.appendChild(document.createTextNode(' | '));
                            eventElement.appendChild(deleteLink);
        
                            // On retourne l'élement crée pour chaque évènement qui représente notre manière d'afficher l'évènement
                            return { domNodes: [eventElement] };
                        }
                    }
                },
                events: {{ dataEvents|raw }},
            });
            
            calendar.render();
        };
    </script>
{% endblock %}