{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main>
        {% for messages in app.flashes %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        <h1>Change your password</h1>
        
        {# Render the change password form #}
        {{ form_start(form) }}
            {{ form_row(form.password, {'label': 'Current Password'}) }}
            {{ form_row(form.plainPassword.first, {'label': 'New Password'}) }}
            {{ form_row(form.plainPassword.second, {'label': 'Confirm New Password'}) }}
            <button type="submit">Change Password</button>
        {{ form_end(form) }}
    </main>
{% endblock %}