{% extends 'base.html.twig' %}

{% block title %}Change your Username{% endblock %}

{% block body %}
    <main>
        {# Affichage du formulaire de changement de pseudo #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your Username</h1>
                <div class="securityFormRow">
                    {{ form_label(form.username, 'Username') }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large" title="Change Username">Change Username</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}