{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block body %}
    <main>
        {# Affichage des messages flash en fonction de comment se passe le traitement du formulaire #}
        {% for messages in app.flashes %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        
        {# Affichage du formulaire de changement de mot de passe #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your password</h1>
                <div class="securityFormRow">
                    {{ form_label(form.password, 'Current Password') }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.plainPassword.first, 'New Password') }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.plainPassword.second, 'Confirm New Password') }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large">Change Password</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}