{% extends 'base.html.twig' %}

{% block title %}Change your infos{% endblock %}

{% block body %}
    <main>
        {# Affichage du formulaire de changement d'infos #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your infos</h1>
                <div class="securityFormRow">
                    {{ form_label(form.dateNaissance, 'Date of birth') }}
                    {{ form_widget(form.dateNaissance) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.pays, 'Country') }}
                    {{ form_widget(form.pays) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.ville, 'City') }}
                    {{ form_widget(form.ville) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large">Change Infos</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}