{% extends 'base.html.twig' %}

{% block title %}Change your Email{% endblock %}

{% block body %}
    <main>
        {# Affichage du formulaire de changement d'email #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your Email</h1>
                <div class="securityFormRow">
                    {{ form_label(form.currentEmail, 'Current Email') }}
                    {{ form_errors(form.currentEmail) }}
                    {{ form_widget(form.currentEmail) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.newEmail.first, 'New Email') }}
                    {{ form_errors(form.newEmail.first) }}
                    {{ form_widget(form.newEmail.first) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.newEmail.second, 'Confirm New Email') }}
                    {{ form_errors(form.newEmail.second) }}
                    {{ form_widget(form.newEmail.second) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large" title="Change Email">Change Email</button>
                <p class="securityFormLinkEnd"><i>
                    By changing your email you will be logged out. 
                    You will need to confirm the new email to be able to login again,
                    so be sure that you have access to your new email !
                </i></p>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}