{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block body %}
    <main>
        {# Affichage du formulaire de changement de mot de passe #}
        <div class="securityFormContainer">
            {{ form_start(form) }}
                <h1 class="securityFormTitle">Change your password</h1>
                <div class="securityFormRow">
                    {{ form_label(form.password, 'Current Password') }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.plainPassword.first, 'New Password') }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                    <p class="securityFormLinkEnd"><i>Password must contain Uppercase, Lowercase, Number and a special character (12 - 40 characters)</i></p>
                </div>
                <div class="securityFormRow">
                    {{ form_label(form.plainPassword.second, 'Confirm New Password') }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <button type="submit" class="securityFormSubmitButton large" title="Change Password">Change Password</button>
                <p class="securityFormLinkEnd"><i>
                    By changing your password you will be logged out. 
                    You will need to login again with that new password, so be sure to remember it !
                </i></p>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}