{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <main class="animeContainer">
        <section class="animeTopContainer">
            <div class="animeTopContent">
                <div class="animeTopLeftContent">
                    <figure>
                        <img src="{{ user.imageProfil ? asset('uploads/' ~ user.imageProfil) : asset('uploads/baseUser.png') }}" alt="Profile Picture of {{ user.pseudo }}" class="profileImage">
                    </figure>
                    <a href="#" class="profileInfosButton settings medium">CHANGE PICTURE</a>
                </div>
                <div class="animeTopRightContent">
                    <h1 class="profilePseudo">{{ user.pseudo }} <a href="#" class="settingsChangePseudo"><i class="fa-solid fa-pen-to-square"></i></a> </h1>
                    <p class="profileDescription">{{ user.description ? user.description : "<i>No description yet ...</i>" }}</p>
                    <a href="#" class="profileInfosButton settings large">CHANGE DESCRIPTION</a>
                </div>
            </div>
        </section>
        <div class="animeRemainingContainer">
            <div class="profileInfos settings">
                <div class="settingsOne">
                    <h2 class="settingsTitle">Theme</h2>
                    <div class="settingsThemes">
                        <a href="#" class="settingsTheme light">A</a>
                        <a href="#" class="settingsTheme dark">A</a>
                    </div>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Email</h2>
                    <div>
                        <p class="settingsNormalText"><span class="settingsSemiBoldText">Your Email : </span><i>{{ user.email }}</i></p>
                        <a href="#" class="profileInfosButton settings medium">CHANGE EMAIL</a>
                    </div>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Password</h2>
                    <div>
                        <a href="{{ path('change_password_user', { id: user.id }) }}" class="profileInfosButton settings large">CHANGE PASSWORD</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}