{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <main class="animeContainer">
        {# Affichage des messages flash en fonction de comment se passe le traitement des formulaires #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <p>
                    {{ label }} {{ message }}
                </p>
            {% endfor %}
        {% endfor %}
        <section class="animeTopContainer">
            <div class="animeTopContent">
                <div class="animeTopLeftContent">
                    <figure>
                        <img src="{{ user.imageProfil ? asset('uploads/' ~ user.imageProfil) : asset('uploads/baseUser.png') }}" alt="Profile Picture of {{ user.pseudo }}" class="profileImage">
                    </figure>
                    <a href="{{ path('change_profile_picture_user', { id: user.id }) }}" class="profileInfosButton settings medium">CHANGE PICTURE</a>
                </div>
                <div class="animeTopRightContent">
                    <h1 class="profilePseudo">{{ user.pseudo }} <a href="{{ path('change_username_user', { id: user.id }) }}" class="settingsChangePseudo"><i class="fa-solid fa-pen-to-square"></i></a> </h1>
                    <p class="profileDescription">{{ user.description ? user.description : "<i>No description yet ...</i>" }}</p>
                    <a href="{{ path('change_description_user', { id: user.id }) }}" class="profileInfosButton settings large">CHANGE DESCRIPTION</a>
                </div>
            </div>
        </section>
        <div class="animeRemainingContainer">
            <div class="profileInfos settings">
                <div class="settingsOne">
                    <h2 class="settingsTitle">Theme</h2>
                    <div class="settingsThemes">
                        <a href="#" class="settingsTheme light">A</a>
                        <a href="#" class="settingsTheme dark">A</a>
                    </div>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Email</h2>
                    <div>
                        <p class="settingsNormalText"><span class="settingsSemiBoldText">Your Email : </span><i>{{ user.email }}</i></p>
                        <a href="#" class="profileInfosButton settings medium">CHANGE EMAIL</a>
                    </div>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Password</h2>
                    <div>
                        <a href="{{ path('change_password_user', { id: user.id }) }}" class="profileInfosButton settings large">CHANGE PASSWORD</a>
                    </div>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Infos</h2>
                    <div>
                        <p class="settingsNormalText"><span class="settingsSemiBoldText">Your Date of birth : </span><i>{{ user.dateNaissance ? user.dateNaissance|date("m/d/Y") : "Not specified" }}</i></p>
                        <p class="settingsNormalText"><span class="settingsSemiBoldText">Your Country : </span><i>{{ user.pays ? user.pays : "Not specified" }}</i></p>
                        <p class="settingsNormalText"><span class="settingsSemiBoldText">Your City : </span><i>{{ user.ville ? user.ville : "Not specified" }}</i></p>
                        <a href="{{ path('change_infos_user', { id: user.id }) }}" class="profileInfosButton settings medium">CHANGE INFOS</a>
                    </div>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Account visibility</h2>
                    <p><i>A venir ...</i></p>
                </div>
                <div class="settingsOne">
                    <h2 class="settingsTitle">Calendar notifications</h2>
                    <p><i>A venir ...</i></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}