{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <main class="animeContainer">
        <div class="animeTopContainer">            
            <div class="animeTopLeftContent settings">
                <figure>
                    <img src="{{ app.user.imageProfil ? asset('uploads/' ~ app.user.imageProfil) : asset('uploads/baseUser.png') }}" alt="Profile Picture of {{ app.user.pseudo }}" class="profileImage">
                </figure>
                <a href="{{ path('change_profile_picture_user') }}" class="profileInfosButton settings full">CHANGE PICTURE</a>
            </div>
            <div class="animeTopRightContent">
                <h1 class="profilePseudo">{{ app.user.pseudo }} <a href="{{ path('change_username_user') }}" class="settingsChangePseudo"><i class="fa-solid fa-pen-to-square"></i></a> </h1>
                <p class="profileDescription">{{ app.user.description ? app.user.description : "<i>No description yet ...</i>" }}</p>
                <a href="{{ path('change_description_user') }}" class="profileInfosButton settings large">CHANGE DESCRIPTION</a>
            </div>
        </div>
        <div class="animeRemainingContainer profileInfos settings">
            <div class="settingsOne">
                <h2 class="settingsTitle">Theme</h2>
                <div class="settingsThemes">
                    <a href="#" class="settingsTheme light">A</a>
                    <a href="#" class="settingsTheme dark">A</a>
                </div>
            </div>
            <div class="settingsOne">
                <h2 class="settingsTitle">Email</h2>
                <div>
                    <p class="settingsNormalText"><span class="settingsSemiBoldText">Your Email : </span><i>{{ app.user.email }}</i></p>
                    <a href="{{ path('change_email_user') }}" class="profileInfosButton settings fit">CHANGE EMAIL</a>
                </div>
            </div>
            <div class="settingsOne">
                <h2 class="settingsTitle">Password</h2>
                <div>
                    <a href="{{ path('modify_password_user') }}" class="profileInfosButton settings fit">CHANGE PASSWORD</a>
                </div>
            </div>
            <div class="settingsOne">
                <h2 class="settingsTitle">Account visibility</h2>
                <p><i>Still to come ...</i></p>
            </div>
            <div class="settingsOne">
                <h2 class="settingsTitle">Calendar notifications</h2>
                <p><i>Still to come ...</i></p>
            </div>
            <div class="settingsOne">
                <h2 class="settingsTitle">Delete account</h2>
                <div>
                    <a href="#" class="profileInfosButton settings fit" style="background-color: #FF4136;">DELETE ACCOUNT</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}