{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}{% endblock %}

{% block body %}
    <main class="animeContainer">
        <section class="animeTopContainer">
            <div class="animeTopContent">
                <div class="animeTopLeftContent">
                    <figure>
                        <img src="{{ asset('uploads/' ~ user.imageProfil) }}" alt="Profile Picture of {{ user.pseudo }}" class="profileImage">
                    </figure>
                </div>
                <div class="animeTopRightContent">
                    <h1 class="profilePseudo">{{ user.pseudo }}</h1>
                    <p class="profileDescription">{{ user.description ? user.description : "<i>No description yet ...</i>" }}</p>
                </div>
            </div>
        </section>
        <div class="animeRemainingContainer">
            <div class="profileRemainingContent">
                <div class="profileInfosLine">
                    <div class="profileInfos">
                        <h2 class="profileInfosTitle">Details</h2>
                        <p class="profileInfo"><span class="profileInfoTitle">Joined : </span>{{ user.dateInscription|date("m/d/Y H:i:s") }} <i>(UTC)</i></p>
                        <p class="profileInfo"><span class="profileInfoTitle">Date of birth : </span>{{ user.dateNaissance ? user.dateNaissance|date("m/d/Y") : "<i>Not specified</i>" }}</p>
                        {% if user.pays and user.ville %}
                            <p class="profileInfo"><span class="profileInfoTitle">Location : </span>{{ user.pays }}, {{ user.ville }}</p>
                        {% elseif user.pays and not user.ville or not user.pays and user.ville %}
                            <p class="profileInfo"><span class="profileInfoTitle">Location : </span>{{ user.pays ? user.pays : user.ville }}</p>
                        {% else %}
                            <p class="profileInfo"><span class="profileInfoTitle">Location : </span><i>Not specified</i></p>
                        {% endif %}
                    </div>
                    <div class="profileInfos">
                        <p><i>A venir...</i></p>
                    </div>
                    <div class="profileInfos">
                        <a href="#" class="profileInfosButton">ANIME LIST</a>
                        <a href="#" class="profileInfosButton">CALENDAR</a>
                    </div>
                </div>
                {% if user.animes is empty %}
                {# Visuel/responsive à refaire, noms à modifier et gestion de l'appel à l'API #}
                    <div class="profileInfos">
                        <h2 class="profileInfosTitle">Favorites Animes</h2>
                        <div class="profileInfosFavoritesAnimes">
                            {% for media in dataTopTenAnime.data.Page.media %}
                                <figure class="homeOneAnime topTen">
                                    <a href="{{ path('show_anime', { 'id' : media.id }) }}">
                                        <div class="homeOneAnimeImageInfo">
                                            <img src="{{ media.coverImage.large }}" alt="Cover Image of {{ media.title.romaji }}" class="homeOneAnimeImage">
                                            <section class="homeHoverContent">
                                                <p class="homeOneAnimeInfoTitle">{{ media.title.romaji }}</p>
                                                <p class="homeOneAnimeInfoSmallerInfos">
                                                    {% if media.episodes %}
                                                        {% if media.episodes < 2 %}
                                                            {{ media.episodes }} episode
                                                        {% else %}
                                                            {{ media.episodes }} episodes
                                                        {% endif %}
                                                    {% else %}    
                                                        ? episodes
                                                    {% endif %}
                                                    - 
                                                    {% if media.format %}
                                                        {{ media.format }}
                                                    {% else %}
                                                        ?
                                                    {% endif %}
                                                </p>
                                                <p class="homeOneAnimeInfoSmallerInfos">
                                                    {% set mainStudios = [] %}
                                                    {% for studio in media.studios.edges %}
                                                        {% if studio.isMain %}
                                                            {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {{ mainStudios|join(' - ') }}
                                                </p>
                                                <div class="homeOneAnimeInfoGenres">
                                                    {% for genre in media.genres %}
                                                        <p class="homeOneAnimeInfoOneGenre" style="--media-color: {{ media.coverImage.color }};">{{ genre }}</p>
                                                    {% endfor %}
                                                </div>
                                            </section>
                                        </div>
                                    </a>
                                    <figcaption class="homeOneAnimeTitle">{{ media.title.romaji }}</figcaption>
                                </figure>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if user.personnages is empty %}
                    <div class="profileInfos">
                        <h2 class="profileInfosTitle">Favorites Characters</h2>
                        <div class="profileInfosFavoritesCharacters">
                            {% for i in range(1, 10) %}
                                <a href="{{ path('show_character', { id: "66173" }) }}">
                                    <figure class="favoriteCharacter">
                                        <img src="https://s4.anilist.co/file/anilistcdn/character/medium/b66173-g8eU1LGWPB8O.png" alt="Image of Izumi Miyamura" class="favoriteCharacterImage">
                                        <figcaption class="homeOneAnimeTitle">Izumi Miyamura</figcaption>
                                    </figure>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if user.discussions is empty %}
                    <div class="profileInfos">
                        <h2 class="profileInfosTitle">Talks participated</h2>
                        <div class="profileInfosTalks">
                            {% for i in range(1, 7) %}
                                <section class="animeRemainingRightContentPartCardsContent talk">
                                    <div class="animeRemainingRightContentPartCardsTextContainer">
                                        <h2 class="animeRemainingRightContentPartCardsTop">(Spoiler Alert !) Episode 5 Talk</h2>
                                        <p class="animeRemainingRightContentPartCardsBottom"><i>Created 12 days ago</i></p>
                                    </div>
                                    <div class="animeRemainingRightContentPartCardsCommentContainer">
                                        <p class="animeRemainingRightContentPartCardsCommentText"><span class="animeRemainingRightContentPartCardsCommentTextIcon"><i class="fa-solid fa-comments"></i></span> <span class="animeRemainingRightContentPartCardsCommentTextNumber">42</span></p>
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}