{% extends 'base.html.twig' %}

{% macro textTimeAgo(date) %}
    {# Calcul de l'écart entre la date et maintenant (grâce au temps unix) #}
    {% set now = 'now'|date("U") %}
    {% set dateTime = date|date("U") %}
    {% set timeDifference = now - dateTime %}
    {% set years = (timeDifference / (365 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set months = (timeDifference / (30 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set weeks = (timeDifference / (7 * 24 * 60 * 60))|round(0, 'floor') %}
    {% set days = (timeDifference / (24 * 60 * 60))|round(0, 'floor') %}
    {% set hours = (timeDifference / (3600))|round(0, 'floor') %}
    {% set minutes = (timeDifference / 60)|round(0, 'floor') %}
    {# On crée un texte en fonction du temps manquant #}
    {% if years > 0 %}
        {{ years ~ ' year' ~ (years > 1 ? 's' : '') ~ ' ago' }}
    {% elseif months > 0 %}
        {{ months ~ ' month' ~ (months > 1 ? 's' : '') ~ ' ago' }}
    {% elseif weeks > 0 %}
        {{ weeks ~ ' week' ~ (weeks > 1 ? 's' : '') ~ ' ago' }}
    {% elseif days > 0 %}
        {{ days ~ ' day' ~ (days > 1 ? 's' : '') ~ ' ago' }}
    {% elseif hours > 0 %}
        {{ hours ~ ' hour' ~ (hours > 1 ? 's' : '') ~ ' ago' }}
    {% elseif minutes > 0 %}
        {{ minutes ~ ' minute' ~ (minutes > 1 ? 's' : '') ~ ' ago' }}
    {% else %}
        {{ 'just now' }}
    {% endif %}
{% endmacro %}

{% block meta_description %}Discover what {{ user.username }} watch, love and think about anime!{% endblock %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <main class="animeContainer">
        <div class="animeTopContainer {{ app.user and app.user.darkMode ? 'dark' }}">            
            <figure>
                <img src="{{ user.profilePicture ? asset('uploads/' ~ user.profilePicture) : asset('uploads/baseUser.png') }}" alt="Profile Picture of {{ user.username }}" class="profileImage">
            </figure>
            <div class="animeTopRightContent">
                <h1 class="profilePseudo {{ app.user and app.user.darkMode ? 'dark' }}">{{ user.username }}</h1>
                <p class="profileDescription {{ app.user and app.user.darkMode ? 'dark' }}">{{ user.description ? user.description : '<i>No description yet ...</i>' }}</p>
            </div>
        </div>
        <div class="animeRemainingContainer profile">
            <div class="profileInfosLine">
                <div class="profileInfos chart {{ app.user and app.user.darkMode ? 'dark' }}">
                    <canvas id="myChart" width="300"></canvas>
                </div>
                <div class="profileInfos buttons {{ app.user and app.user.darkMode ? 'dark' }}">
                    <a href="{{ path('anime_list_user', { id: user.id }) }}" class="profileInfosButton {{ app.user and app.user.darkMode ? 'dark' }}" title="See Anime List">ANIME LIST</a>
                    {% if app.user == user %}
                        <a href="{{ path('calendar_user') }}" class="profileInfosButton {{ app.user and app.user.darkMode ? 'dark' }}" title="See Calendar">CALENDAR</a>
                    {% endif %}
                </div>
            </div>
            {# Si l'utilisateur a des animés favoris #}
            {% if user.animes is not empty %}
                <section class="profileInfos {{ app.user and app.user.darkMode ? 'dark' }}">
                    <h2 class="profileInfosTitle {{ app.user and app.user.darkMode ? 'dark' }}">Favorites Animes</h2>
                    <div class="homeMultipleAnimes autoFill profile">
                    {% for anime in favoriteAnimesData %}
                        <figure class="homeOneAnime">
                            <a href="{{ path('show_anime', { 'id' : anime.id }) }}" title="{{ anime.title.romaji|default('Unknown') }}">
                                <div class="homeOneAnimeImageInfo">
                                    <img src="{{ anime.coverImage.large }}" alt="Cover Image of {{ anime.title.romaji|default('Unknown') }}" class="homeOneAnimeImage profile">
                                    <section class="homeHoverContent {{ app.user and app.user.darkMode ? 'dark' }}">
                                        <h2 class="homeOneAnimeInfoTitle profile">{{ anime.title.romaji|default('Unknown') }}</h2>
                                        {% if anime.episodes %}
                                            <p class="homeOneAnimeInfoSmallerInfos">{{ anime.episodes == 1 ? anime.episodes ~ ' episode' : anime.episodes ~ ' episodes' }} - {{ anime.format|default('?') }}</p>
                                        {% else %}    
                                            <p class="homeOneAnimeInfoSmallerInfos">? episodes - {{ anime.format|default('?') }}</p>
                                        {% endif %}
                                        {# On crée un tableau qu'on va remplir de tout les studios principaux (souvent 1 seuls mais possibilité d'en avoir plusieurs) #}
                                        {% set mainStudios = [] %}
                                        {% for studio in anime.studios.edges %}
                                            {% if studio.isMain %}
                                                {% set mainStudios = mainStudios|merge([studio.node.name]) %}
                                            {% endif %}
                                        {% endfor %}
                                        <p class="homeOneAnimeInfoSmallerInfos">{{ mainStudios is not empty ? mainStudios|join(' - ') : 'Unknown' }}</p>
                                        <div class="homeOneAnimeInfoGenres">
                                        {% for genre in anime.genres %}
                                            <p class="homeOneAnimeInfoOneGenre profile" style="--media-color: {{ anime.coverImage.color ? anime.coverImage.color : '#4169e1' }};">{{ genre }}</p>
                                        {% endfor %}
                                        </div>
                                    </section>
                                </div>
                            </a>
                            <figcaption class="homeOneAnimeTitle profile {{ app.user and app.user.darkMode ? 'dark' }}"><a href="{{ path('show_anime', { 'id' : anime.id }) }}" title="{{ anime.title.romaji|default('Unknown') }}">{{ anime.title.romaji|default('Unknown') }}</a></figcaption>
                        </figure>
                    {% endfor %}
                    </div>
                </section>
            {% endif %}
            {# Si l'utilisateur a des personnages favoris #}
            {% if user.personnages is not empty %}
                <section class="profileInfos {{ app.user and app.user.darkMode ? 'dark' }}">
                    <h2 class="profileInfosTitle {{ app.user and app.user.darkMode ? 'dark' }}">Favorites Characters</h2>
                    <div class="profileInfosFavoritesCharacters">
                    {% for character in favoriteCharactersData %}
                        <figure class="favoriteCharacter">
                            <a href="{{ path('show_character', { id: character.id }) }}" title="{{ character.name.full|default('Unknown') }}">
                                <img src="{{ character.image.large }}" alt="Image of {{ character.name.full|default('Unknown') }}" class="favoriteCharacterImage">
                            </a>
                            <figcaption class="homeOneAnimeTitle favorites {{ app.user and app.user.darkMode ? 'dark' }}"><a href="{{ path('show_character', { id: character.id }) }}" title="{{ character.name.full|default('Unknown') }}">{{ character.name.full|default('Unknown') }}</a></figcaption>
                        </figure>
                    {% endfor %}
                    </div>
                </section>
            {% endif %}
            {# Si l'utilisateur à publié de discussions #}
            {% if user.discussions is not empty %}
                <div class="profileInfos {{ app.user and app.user.darkMode ? 'dark' }}">
                    <h2 class="profileInfosTitle {{ app.user and app.user.darkMode ? 'dark' }}">Talks recently created</h2>
                    <div class="profileInfosTalks">
                    {# Boucle sur les 6 dernières discussions créées #}
                    {% for talk in user.discussions|reverse|slice(0, 6) %}
                        <section style="width: 100%;">
                            <a href="{{ path('show_discussion', { id: talk.id }) }}" class="animeRemainingRightContentPartCardsContent profile {{ app.user and app.user.darkMode ? 'dark' }}" title="{{ talk.title }}">
                                <div class="animeRemainingRightContentPartCardsTextContainer">
                                    <h2 class="animeRemainingRightContentPartCardsTop profile {{ app.user and app.user.darkMode ? 'dark' }}">{{ talk.title }}</h2>
                                    <p class="animeRemainingRightContentPartCardsBottom {{ app.user and app.user.darkMode ? 'dark' }}" title="{{ talk.posts|first.creationDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ _self.textTimeAgo(talk.creationDate) }}</i></p>
                                </div>
                                <div class="animeRemainingRightContentPartCardsCommentContainer">
                                    <p class="animeRemainingRightContentPartCardsCommentText {{ app.user and app.user.darkMode ? 'dark' }}"><span class="animeRemainingRightContentPartCardsCommentTextIcon"><i class="fa-solid fa-comments"></i></span> <span class="animeRemainingRightContentPartCardsCommentTextNumber">{{ talk.posts|length }}</span></p>
                                </div>
                            </a>
                        </section>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {# Si l'utilisateur a publié des posts #}
            {% if user.posts is not empty %}
                <div class="profileInfos {{ app.user and app.user.darkMode ? 'dark' }}">
                    <h2 class="profileInfosTitle {{ app.user and app.user.darkMode ? 'dark' }}">Talks recently participated</h2>
                    <div class="profileInfosTalks">
                    {# On définit un tableau pour définir les discussions uniques #}
                    {% set uniqueTalks = [] %}
                    {# Boucle sur les posts allant du plus récent au plus ancien #}
                    {% for post in user.posts|reverse %}
                        {# On affiche les 6 dernières discussion auquels l'utilisateur à participer #}
                        {% if post.discussion not in uniqueTalks and uniqueTalks|length < 6 %}
                            {% set uniqueTalks = uniqueTalks|merge([post.discussion]) %}
                            <section style="width: 100%;">
                                <a href="{{ path('show_discussion', { id: post.discussion.id }) }}" class="animeRemainingRightContentPartCardsContent profile {{ app.user and app.user.darkMode ? 'dark' }}" title="{{ post.discussion.title }}">
                                    <div class="animeRemainingRightContentPartCardsTextContainer">
                                        <h2 class="animeRemainingRightContentPartCardsTop profile {{ app.user and app.user.darkMode ? 'dark' }}">{{ post.discussion.title }}</h2>
                                        <p class="animeRemainingRightContentPartCardsBottom {{ app.user and app.user.darkMode ? 'dark' }}" title="{{ post.discussion.posts|first.creationDate|date('D, d M Y,  H:i', 'UTC') }} (UTC)"><i>Created {{ _self.textTimeAgo(post.discussion.creationDate) }}</i></p>
                                    </div>
                                    <div class="animeRemainingRightContentPartCardsCommentContainer">
                                        <p class="animeRemainingRightContentPartCardsCommentText {{ app.user and app.user.darkMode ? 'dark' }}"><span class="animeRemainingRightContentPartCardsCommentTextIcon"><i class="fa-solid fa-comments"></i></span> <span class="animeRemainingRightContentPartCardsCommentTextNumber">{{ post.discussion.posts|length }}</span></p>
                                    </div>
                                </a>
                            </section>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
    {% block javascripts %}
        {{ parent() }}
        
        {# Ajout de ChartJs #}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Récupération de l'élement qui sera le graphique
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                // Type camembert
                type: 'pie',
                data: {
                    // Les labels
                    labels: ['Watching', 'Completed', 'Planned'],
                    datasets: [{
                        // Les données du profil
                        data: [{{ nbAnimesWatching }}, {{ nbAnimesCompleted }}, {{ nbAnimesPlanned }}],
                        // Les couleurs spécifiques
                        backgroundColor: [
                            '#2db039',
                            '#48466D',
                            '#8f8f8f'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    // Taille
                    width: 300,
                    plugins: {
                        // Titre du graph
                        title: {
                            display: true,
                            text: 'Anime list stats'
                        },
                        // Options de la légende
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                color: '#333333',
                                font:{
                                    family: "'Inter', sans-serif"
                                }
                            },
                        }
                    }
                }
            });
        </script>
    {% endblock %}
{% endblock %}